footer {
    position: relative;
    top: 3%;
    left: 0%;
    bottom: 0;
    width: 40em;
    width: 100%;
    //background-image: url(/assets/footer/move.gif);
    //background-image: url(/assets/footer/foo05.jpg);
    background-image: url(https://images.hdqwalls.com/wallpapers/blue-triangle-abstract-4k-bf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
}


#modalHotmail,
#modalGmail {
    div {
        background-color: rgb(18, 19, 129);
        text-align: center;
        position: absolute;
        top: 55%;
        left: 35%;
    }
}

#modalInfo {
    div {
        background-color: rgb(18, 19, 129);
        text-align: center;
        position: relative;
    }
    button {
        text-align: center;
    }
}


#botonContacto
{
  ul{
    max-width: 5em;
    background-color:transparent;
    color:transparent
  }
        li {
            background-color: rgb(45, 54, 177);
            border-color: rgb(35, 37, 171);
            color: white;
            max-width: 5em;
        }
        div:hover{
          background-color: rgb(35, 37, 171);
          border-radius: 0.5em;
        }

    }

#iconosBtns {
    button:hover {
      background-color: rgb(35, 37, 171);
        border-radius: 0.5em;
    }
}
