<!---FOOTER-->

<footer id="contacto" class="mb-0 mt-0">
    <section class="Jumbotron mb-0 ">
        <div class="jumbotron jumbotron-fluid d-flex flex-column text-center text-white  mb-0 mt-0">
            <h3 class="display-5 mt-5 text"> Más Información</h3>


            <!-- CONJUNTO DE ICONOS-->
            <div class="d-flex justify-content-center mt-2 p-2 ">




                <!-- CONTACTO REDES SOCIALES-->

                    <div class="dropdown" id="botonContacto">
                        <button class="btn btn-primary alert-link  dropdown-toggle m-1" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" ngbTooltip="Redes Sociales">
                   <!--Icono MEE -->
                   <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  </svg>
      <!--Fin Icono MEE-->
                </button>


                            <!--BTN'S REDES SOCIALES-->

                        <ul class="dropdown-menu " aria-labelledby="dropdownMenu2">


                              <li class="list-group-item text-center align-content-center p-1 ms-0" id="iconosBtns">


                                <div class="">
                                    <a href="https://github.com/andresWeitzel" target="_blank" class="text-white ms-1 me-1"><img src="assets/gifs/github.gif" loading="lazy" alt="" width="50" height="50" class="d-inline-block align-text-center p-1"></a>
                                </div>

                                <div>
                                    <a href="https://gitlab.com/andres-weitzel" target="_blank" class="text-white"><img src="assets/gifs/gitlab.gif" loading="lazy" alt="" width="50" height="50" class="d-inline-block align-text-center p-1"></a>
                                </div>


                                <div>
                                    <a href="https://www.youtube.com/channel/UCuSVXmBcMURyTvbmbcgZalQ" target="_blank" class="text-white"><img src="assets/gifs/youtubeLogo.gif" loading="lazy" alt="" width="50" height="50" class="d-inline-block align-text-center p-1"></a>
                                </div>
                                 <!--Linkedin-->
                                <div>
                                    <a href="https://www.linkedin.com/in/andres-weitzel/" target="_blank" class="text-white" ngbTooltip="Linkedin"><img src="assets/gifs/linkedinGif.gif
                                " loading="lazy" alt="" width="40" height="40" class="d-inline-block align-text-center p-1"></a>
                                </div>
                                <!--Fin Linkedin-->
                              </li>


                        </ul>


                            <!--FIN BTN'S REDES SOCIALES-->

                </div>
                <!-- FIN CONTACTO REDES SOCIALES-->







                <!-- CONTACTO CORREO-->
                <div class="" id="botonContacto">
                    <!--DROPDOWN CONTACTO-->
                    <div class="dropdown">
                        <button class="btn btn-primary alert-link  dropdown-toggle m-1" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                     <!--icono Contacto-->
                     <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>
         <!--icono Contacto-->
                  </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

                            <h3 class="d-flex align-content-center text-center"> <span class="badge ">Contacto</span></h3>

                            <!--HOTMAIL-->
                            <li class="list-group-item">
                                <div class="d-flex align-content-center">
                                    <h6>Outlook <img src="../assets/gifs/outlook.gif" alt="" width="75px" class="mt-1"></h6>

                                    <div class="text-center align-content-center" id="iconosBtns">
                                        <a href="mailto:andres96energy@hotmail.com?cc=andres96energy@gmail.com&subject=𝑃𝑟𝑜𝑝𝑢𝑒𝑠𝑡𝑎%20𝐿𝑎𝑏𝑜𝑟𝑎𝑙&body=𝐸𝑠𝑐𝑟𝑖𝑏𝑎%20𝑒𝑙%20𝑀𝑒𝑛𝑠𝑎𝑗𝑒%20𝑎𝑞𝑢𝑖́%20𝑝𝑜𝑟%20𝑓𝑎𝑣𝑜𝑟.%20𝐸𝑛%20𝐵𝑟𝑒𝑣𝑒%20𝑠𝑒𝑟𝑎́%20𝑟𝑒𝑠𝑝𝑜𝑛𝑑𝑖𝑑𝑜.%20%0A%0A 𝐺𝑟𝑎𝑐𝑖𝑎𝑠.%20%0A%0A"
                                            target="_blank "><button type="button alert-link" class="btn bg-none text-white btn-sm" (click)="mostrarEmail('andres96energy@hotmail.com')"><img src="../assets/footer/icons/goLink.png" alt="" width="40px"></button></a>

                                        <button type="button" class="btn bg-none text-white btn-sm" (click)="copiarLink('andres96energy@hotmail.com')"><img src="../assets/footer/icons/copyLink.png" alt="" width="40px"></button>
                                    </div>
                                </div>


                            </li>
                            <!--FIN HOTMAIL-->

                            <!--GMAIL-->
                            <li class="list-group-item">
                                <div class="d-flex align-content-center">
                                    <h6>Gmail <img src="../assets/gifs/gmail.gif" alt="" width="60px" class="mt-1"></h6>

                                    <div class="text-center align-content-center" id="iconosBtns">
                                        <a href="mailto:andres96energy@gmail.com?cc=andres96energy@hotmail.com&subject=𝑃𝑟𝑜𝑝𝑢𝑒𝑠𝑡𝑎%20𝐿𝑎𝑏𝑜𝑟𝑎𝑙&body=𝐸𝑠𝑐𝑟𝑖𝑏𝑎%20𝑒𝑙%20𝑀𝑒𝑛𝑠𝑎𝑗𝑒%20𝑎𝑞𝑢𝑖́%20𝑝𝑜𝑟%20𝑓𝑎𝑣𝑜𝑟.%20𝐸𝑛%20𝐵𝑟𝑒𝑣𝑒%20𝑠𝑒𝑟𝑎́%20𝑟𝑒𝑠𝑝𝑜𝑛𝑑𝑖𝑑𝑜.%20%0A%0A 𝐺𝑟𝑎𝑐𝑖𝑎𝑠.%20%0A%0A"
                                            target="_blank "><button type="button alert-link" class="btn bg-none text-white btn-sm"  (click)="mostrarEmail('andres96energy@gmail.com')"><img src="../assets/footer/icons/goLink.png" alt="" width="40px"></button></a>

                                        <button type="button" class="btn bg-none text-white btn-sm" (click)="copiarLink('andres96energy@gmail.com')"><img src="../assets/footer/icons/copyLink.png" alt="" width="40px"></button>
                                    </div>
                                </div>


                            </li>
                            <!--FIN GMAIL-->

                        </ul>
                    </div>
                    <!--FIN DROPDOWN CONTACTO-->
                </div>

                <!--FIN  CONTACTO CORREO-->






                <!--WHATSAPP-->
                <div class="" id="botonContacto">
                    <div class="dropdown">
                        <button class="btn btn-primary alert-link  dropdown-toggle m-1" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                 <!--Icono wsp -->
                 <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                  <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
                </svg>
    <!--Fin Icono wsp-->
              </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="iconosBtns">

                            <h3 class="d-flex align-content-center text-center"> <span class="badge ">Contacto</span></h3>

                            <!--WHATSAPP-->
                            <li class="list-group-item">
                                <div class="d-flex align-content-center">
                                    <h6>Whatsapp<img src="../assets/gifs/whatsapp.gif" alt="" width="70px"></h6>

                                    <div class="text-center ms-2">
                                        <a href="https://api.whatsapp.com/send?phone=45390735" target="_blank "><button type="button" class="btn bg-none mt-4 text-white btn-sm"><img src="../assets/footer/icons/goLink.png" alt="" width="40px"> </button></a>


                                    </div>
                                </div>


                            </li>
                            <!--FIN WHATSAPP-->
                        </ul>
                    </div>
                </div>
                <!--FIN WHATSAPP-->
















                <!--REPOSITORIO PROYECTO-->
                <div class="" id="botonContacto">
                    <div class="dropdown">
                        <button class="btn btn-primary alert-link  dropdown-toggle m-1" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                   <!--Icono descarga -->
                   <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
                    <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                    <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                  </svg>
      <!--Fin Icono descarga-->
                </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="iconosBtns">

                            <h3 class="d-flex align-content-center text-center"> <span class="badge ">Repositorio </span></h3>

                            <!--GITHUB-->
                            <li class="list-group-item">
                                <div class="d-flex align-content-lef">
                                    <h6><img src="../assets/gifs/code.gif" alt="" width="100px"></h6>

                                    <div class="text-center ms-2">
                                        <a href="https://gitlab.com/andres-weitzel/Portafolio" target="_blank "><button type="button" class="btn bg-none  text-white btn-sm"><img src="../assets/footer/icons/goLink.png" alt="" width="40px"> </button></a>

                                        <button type="button" class="btn bg-none text-white btn-sm" (click)="copiarLink('https://gitlab.com/andres-weitzel/Portafolio')"><img src="../assets/footer/icons/copyLink.png" alt="" width="40px"></button>
                                    </div>
                                </div>


                            </li>
                            <!--FIN GITHUB-->



                        </ul>
                    </div>
                </div>
                <!--FIN REPOSITORIO PROYECTO-->




                <!--INFORMACION-->
                <div class="" id="botonContacto">
                    <div class="dropdown">
                        <button class="btn btn-primary alert-link  dropdown-toggle m-1" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              <!--icono info-->
      <svg xmlns="http://www.w3.org/2000/svg"  width="2em " height="2em " fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    <!--Fin icono info-->
              </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="iconosBtns">

                            <h3 class="d-flex align-content-center text-center"> <span class="badge ">Acerca de ...</span></h3>

                            <!--GITHUB-->
                            <li class="list-group-item">
                                <div class="d-flex align-content-center">
                                    <h6> <img src="../assets/gifs/idea.gif" alt="" width="100px"></h6>

                                    <div class="text-center">
                                        <!-- BTN MODAL INFO  -->
                                        <button type="button" class="btn bg-none btn-sm mt-4" data-bs-toggle="modal" data-bs-target="#modalInfo">
                                          <img src="../assets/footer/icons/goLink.png" alt="" width="40px">
                                                </button>
                                        <!-- FIN BTN MODAL INFO -->



                                    </div>
                                </div>


                            </li>
                            <!--FIN GITHUB-->

                        </ul>
                    </div>

                    <!--MODAL INFO-->

                    <div class="modal fade" id="modalInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalInfoLabel" aria-hidden="true">
                        <div class="modal-dialog ">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalToggleLabel">Acerca de la Aplicación</h5>

                            </div>
                            <div class="modal-content">
                                <div class="modal-body ">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque possimus praesentium rem hic enim expedita sequi consectetur consequatur, asperiores eos ducimus, maiores officia cum obcaecati nihil, adipisci accusamus
                                        saepe qui.</p>
                                    <div class="d-grid gap-2">
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--FIN MODAL INFO-->

                </div>
                <!--FIN INFORMACION-->



            </div>

            <!--FIN CONJUNTO DE ICONOS-->




            <div class=" text-white text-center mt-5 mb-5">
                <h6 class="text-capitalize text-center"> <strong> Andrés Weitzel</strong>
                </h6>
                <div class="mt-3">
                    <hr class="bg-white">
                </div>
                <p class="text-right">
                    <strong>Open Source | 2022.</strong>
                </p>

            </div>

        </div>
    </section>
</footer>
<!---FIN FOOTER-->
