

<nav class="navbar navbar-expand-md navbar-light  fixed-top" id="navbar">


    <div class="container-fluid  ml-4">


        <!--ICONOS NAVBAR LEFT-->
        <div class="d-flex d-row justify-content-center">

          <!--ICONO LOGO-->
            <div class="m-1">
                <img src={{this.iconLogo}} alt="" width="40" height="40" class="d-inline-block align-text-center ">
            </div>
            <!--FIN ICONON LOGO-->



          <!--GRUPO DE ICONOS LEFT-->
          <div class="btn-group ms-5" id="listadoIconos">

            <!--LISTA SECCIONES-->
            <div>
                <button class="btn  dropdown-toggle" role="button" id="dropdownMenuLink01" data-bs-toggle="dropdown" aria-expanded="false" ngbTooltip="Secciones" placement="bottom" >
                  <img src={{this.iconList}}  width="40" height="40"  class="d-inline-block align-text-top p-1 ">
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink01">
                  <li routerLinkActive="active"><a class="dropdown-item"  [routerLink]="['']" (click)="toSection('presentacion')"><img src={{this.iconHome}} width="33" height="33" class=" text-center p-1 " > Inicio</a></li>
                  <li routerLinkActive="active"><a class="dropdown-item"  [routerLink]="['']" (click)="toSection('parallax-cards')"><img src={{this.iconTecnologias}} width="33" height="33" class=" text-center p-1 " > Tecnologías</a></li>
                  <li routerLinkActive="active"><a class="dropdown-item"  [routerLink]="['']" (click)="toSection('parallax-analytics')"><img src={{this.iconAnalytics}} width="33" height="33" class=" text-center p-1 " > Analytics</a></li>
                  <li routerLinkActive="active"><a class="dropdown-item"  [routerLink]="['']" (click)="toSection('parallax-proyects')"><img src={{this.iconProyects}} width="33" height="33" class=" text-center p-1 " > Proyectos</a></li>
                  <li routerLinkActive="active"><a class="dropdown-item"  [routerLink]="['']" (click)="toSection('parallax-proyects')"><img src={{this.iconCurriculum}} width="33" height="33" class=" text-center p-1 " > Curriculum</a></li>
                  <li routerLinkActive="active"><a class="dropdown-item"  [routerLink]="['']" (click)="toSection('contacto')"><img src={{this.iconContacto}} width="33" height="33" class=" text-center p-1 " > Contacto</a></li>

                </ul>

              </div>
            <!--FIN LISTA SECCIONES-->


            <!--LISTA CONFIGS-->
            <div>
              <button class="btn dropdown-toggle"  role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" ngbTooltip="Configuraciones" placement="bottom"
              >
                <img src={{this.iconConfig}} width="40" height="40" class="d-inline-block align-text-top p-1 ">
              </button>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">


                <li routerLinkActive="active" >
                  <a class="dropdown-item"  [routerLink]="['']" (click)="toSection('contacto')"><img src={{this.iconSoporte}} width="33" height="33" class=" text-center p-1 " > ChatBot</a>
                </li>

                <li routerLinkActive="active" >
                  <a class="dropdown-item"  [routerLink]="['']" (click)="toSection('contacto')"><img src={{this.iconSonido}} alt="Sonido" width="33" height="33" class=" text-center p-1 " > Música</a>
                </li>

                <li routerLinkActive="active" >
                  <a class="dropdown-item"  [routerLink]="['']" (click)="toSection('contacto')"><img src={{this.iconCookies}}  width="33" height="33" class=" text-center p-1 " > Cookies</a>
                </li>

                <li routerLinkActive="active" >
                  <a class="dropdown-item"  [routerLink]="['']" (click)="toSection('contacto')"><img src={{this.iconAcercaDe}} width="33" height="33" class=" text-center p-1 " > Acerca de</a>
                </li>
              </ul>

            </div>

              <!--FIN LISTA CONFIGS-->



                <!--LISTA MUSICA -->
          <div>
              <button class="btn  dropdown-toggle "  role="button" id="dropdownMenuLink03" data-bs-toggle="dropdown" aria-expanded="false" ngbTooltip="Música" placement="bottom">
                <img src={{this.iconSonido}} alt="Sound"  width="40" height="40" class="d-inline-block align-text-center p-1 ">
              </button>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink03">

                <li  routerLinkActive="active">
                <a class="dropdown-item"  [routerLink]="['']" (click)="startAudio()"><img src={{this.iconSonidoPlay}} width="27" height="27" class=" p-1 " >  Iniciar</a>
              </li>



              <li  routerLinkActive="active" >
                <a class="dropdown-item"  [routerLink]="['']" (click)="pauseAudio()"><img src={{this.iconSonidoPause}} width="28" height="28" class=" p-1 " > Pausar</a>
              </li>


              <li routerLinkActive="active" >
                <a class="dropdown-item"  [routerLink]="['']" (click)="stopAudio()"><img src={{this.iconSonidoStop}} width="28" height="30" class=" text-center p-1 " > Parar</a>
              </li>



              <li routerLinkActive="active" class="mt-3"><a href="https://www.youtube.com/watch?v=icgGyR3iusU" target="_blank"  class="dropdown-item " >- GS Music</a>
              </li>



              </ul>


            </div>
              <!--FIN LISTA MUSICA-->

      </div>
      <!--FIN GRUPO DE ICONOS LEFT-->

        </div>

        <!--FIN ICONOS NAVBAR LEFT-->







<!--LISTA ICONOS CENTRALES-->

<div class="d-none d-sm-none d-md-block ms-2 col-6">
  <ul class="navbar-nav justify-content-center ">


  <li class="nav-item" routerLinkActive="active">

      <button type="button" class="btn text-white p-1" (click)="toSection('presentacion')" id="menu"   ngbTooltip="Inicio" placement="bottom"><img src={{this.iconHome}} width="45" height="45" class="d-inline-block align-text-top p-1 " >  </button>

  </li>


  <li class="nav-item" routerLinkActive="active">

    <button type="button" class="btn text-white p-1" (click)="toSection('parallax-cards')" id="menu"   ngbTooltip="Tecnologías" placement="bottom"><img src={{this.iconTecnologias}} width="48" height="50" class="d-inline-block align-text-top p-1 " > </button>

  </li>



  <li class="nav-item" routerLinkActive="active">

    <button type="button" class="btn text-white p-1" (click)="toSection('parallax-analytics')"  id="menu" ngbTooltip="Analytics" placement="bottom"><img src={{this.iconAnalytics}} width="40" height="46" class="d-inline-block align-text-top p-1 "> </button>

  </li>


  <li class="nav-item" routerLinkActive="active">

    <button type="button" class="btn text-white p-1" (click)="toSection('parallax-proyects')" id="menu" ngbTooltip="Proyectos" placement="bottom"><img src={{this.iconProyects}} width="46" height="46" class="d-inline-block align-text-top p-1 "></button>

  </li>


  <li class="nav-item" routerLinkActive="active">

    <button type="button" class="btn text-white p-1" (click)="toSection('parallax-proyects')" id="menu" ngbTooltip="Currículum" placement="bottom"><img src={{this.iconCurriculum}}  width="43" height="46" class="d-inline-block align-text-top p-1 "></button>

  </li>


  <li class="nav-item" routerLinkActive="active">
    <button type="button" class="btn text-white p-1" (click)="toSection('parallax-proyects')" id="menu" ngbTooltip="Cookies y Privacidad" placement="bottom"><img src={{this.iconCookies}}  width="43" height="46" class="d-inline-block align-text-top p-1 "></button>


  </li>


  <li class="nav-item" routerLinkActive="active">

    <button type="button" class="btn text-white p-1" (click)="toSection('parallax-proyects')" id="menu" ngbTooltip="ChatBot" placement="bottom"><img src={{this.iconSoporte}}  width="43" height="46"  class="d-inline-block align-text-top p-1 "></button>

  </li>

</ul>

</div>
<!-- FIN LISTA ICONOS CENTRALES-->




<!-- LISTA ICONOS CONTACTO-->
<div class="offcanvas-body text-white d-none d-sm-none d-md-none d-lg-inline-block ms-4">
  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

  <li class="nav-item m-1" >

    <button type="button" class="btn text-white p-1" (click)="toSection('contacto')" id="menu" ngbTooltip="Contacto" placement="bottom"><img src={{this.iconContacto}} width="35" height="38" class="d-inline-block align-text-top p-1 "></button>


  </li>

  <li class="nav-item m-1">

    <button type="button" class="btn text-white p-1" (click)="toSection('contacto')" id="menu" ngbTooltip="Whatsapp" placement="bottom"><img src={{this.iconWsp}} width="35" height="38" class="d-inline-block align-text-top p-1 "></button>

  </li>

  <li class="nav-item m-1">

    <button type="button" class="btn text-white p-1" (click)="toSection('contacto')" id="menu" ngbTooltip="Correo" placement="bottom"><img src={{this.iconCorreo}}  width="38" height="38" class="d-inline-block align-text-top p-1 "></button>

  </li>


  </ul>

</div>

<!-- FIN LISTA ICONOS CONTACTO-->












<!--CANVA BTN CONTENT -->
<!--BTN CANVAS-->
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--FIN BTN CANVAS-->

        <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header" >
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src={{this.iconLogo}} alt="" width="40" height="40" class="d-inline-block align-text-top "> Menú</h5>
                <button type="button" class="btn-close btn-light text-white" data-bs-dismiss="offcanvas" aria-label="Close" id="btnClose"></button>
            </div>



            <div class="offcanvas-body text-white justify-content-center d-lg-none d-md-none">

                <!--LISTA ICONOS CENTRALES-->
                <ul class="navbar-nav d-flex d-column">

                  <div class=" ms-5">

                  <div class="d-flex d-row ms-3">

                    <li class="nav-item " routerLinkActive="active">
                        <button type="button" class="btn text-white p-1" (click)="toSection('presentacion')"
                        data-bs-dismiss="offcanvas" id="menu"   ngbTooltip="Inicio" placement="bottom"><img src={{this.iconHome}} width="45" height="45" class="d-inline-block align-text-top p-1 " ><p>Inicio</p></button>
                    </li>


                    <li class="nav-item ms-1" routerLinkActive="active">

                      <button type="button" class="btn text-white p-1" (click)="toSection('parallax-cards')" data-bs-dismiss="offcanvas" id="menu"   ngbTooltip="Tecnologías" placement="bottom"><img src={{this.iconTecnologias}} width="50" height="45" class="d-inline-block align-text-top p-1 " ><p>Tecnologías</p></button>

                    </li>



                    <li class="nav-item ms-1" routerLinkActive="active">

                      <button type="button" class="btn text-white p-1" (click)="toSection('parallax-analytics')" data-bs-dismiss="offcanvas"  id="menu" ngbTooltip="Analytics" placement="bottom"><img src={{this.iconAnalytics}} width="40" height="45" class="d-inline-block align-text-top p-1 "><p>Analitycs</p></button>

                  </li>

                  </div>



                  <div class="d-flex d-row">

                    <li class="nav-item " routerLinkActive="active">

                      <button type="button" class="btn text-white p-1" (click)="toSection('parallax-proyects')" data-bs-dismiss="offcanvas" id="menu" ngbTooltip="Proyectos" placement="bottom"><img src={{this.iconProyects}} width="45" height="45" class="d-inline-block align-text-top p-1 "><p>Proyectos</p></button>

                    </li>


                    <li class="nav-item ms-0" routerLinkActive="active">

                      <button type="button" class="btn text-white p-1" (click)="toSection('parallax-proyects')" data-bs-dismiss="offcanvas" id="menu" ngbTooltip="Currículum" placement="bottom"><img src={{this.iconCurriculum}}  width="45" height="45" class="d-inline-block align-text-top p-1 "><p>Curriculum</p></button>

                    </li>


                    <li class="nav-item ms-2" routerLinkActive="active">
                      <button type="button" class="btn text-white p-1" (click)="toSection('parallax-proyects')" data-bs-dismiss="offcanvas" id="menu" ngbTooltip="Cookies y Privacidad" placement="bottom"><img src={{this.iconCookies}}  width="43" height="46" class="d-inline-block align-text-top p-1 "><p>Cookies</p></button>


                    </li>

                  </div>



                  <div class="d-flex d-row">

                    <li class="nav-item" routerLinkActive="active">

                      <button type="button" class="btn text-white p-1" (click)="toSection('parallax-proyects')" data-bs-dismiss="offcanvas" id="menu" ngbTooltip="ChatBot" placement="bottom"><img src={{this.iconSoporte}}  width="43" height="46"  class="d-inline-block align-text-top p-1 "><p>ChatBoot</p></button>

                    </li>


                    <li class="nav-item ms-4" routerLinkActive="active">

                      <button type="button" class="btn text-white p-1" (click)="toSection('parallax-proyects')" data-bs-dismiss="offcanvas" id="menu" ngbTooltip="ChatBot" placement="bottom"><img src={{this.iconSonido}}  width="43" height="46"  class="d-inline-block align-text-top p-1 "><p>Música</p></button>

                    </li>

                    <li class="nav-item ms-4" routerLinkActive="active">

                      <button type="button" class="btn text-white p-1" (click)="toSection('parallax-proyects')" data-bs-dismiss="offcanvas" id="menu" ngbTooltip="ChatBot" placement="bottom"><img src={{this.iconAcercaDe}}  width="43" height="46"  class="d-inline-block align-text-top p-1 "><p>Acerca de </p></button>

                    </li>

                  </div>







                <!-- LISTA ICONOS CONTACTO-->
                <div class="d-flex d-row">

                  <li class="nav-item" >

                    <button type="button" class="btn text-white p-1" (click)="toSection('contacto')" data-bs-dismiss="offcanvas" id="menu" ngbTooltip="Contacto" placement="bottom"><img src={{this.iconContacto}} width="40" height="43" class="d-inline-block align-text-top p-1 "><p>Contacto</p></button>


                  </li>

                  <li class="nav-item ms-3">

                    <button type="button" class="btn text-white p-1" (click)="toSection('contacto')" data-bs-dismiss="offcanvas" id="menu" ngbTooltip="Whatsapp" placement="bottom"><img src={{this.iconWsp}}  width="40" height="43" class="d-inline-block align-text-top p-1 "><p>Whatsapp</p></button>

                  </li>

                  <li class="nav-item ms-4">

                    <button type="button" class="btn text-white p-1" (click)="toSection('contacto')" data-bs-dismiss="offcanvas" id="menu" ngbTooltip="Correo" placement="bottom"><img src={{this.iconCorreo}} width="40" height="43" class="d-inline-block align-text-top p-1 "><p>Correo</p></button>

                  </li>


              </div>

              <!-- FIN LISTA ICONOS CONTACTO-->




                  </div>

                </ul>
                  <!-- FIN LISTA ICONOS CENTRALES-->


            </div>
            <!--BTN CANVAS-->

        </div>
        <!--Fin Button Canvas-->
    </div>
        <!--FIN CANVA BTN CONTENT -->


<!--LOADING PROGRESS BAR-->
    <div *ngIf="loaderProgressService.isLoading | async" class="loader-container fixed-top">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <!--FIN LOADING PROGRESS BAR-->


</nav>





