


nav {
    background-color: rgb(18, 19, 129);
    color: white;
    font-family: 'Oxygen Mono', monospace;
    opacity: 0.90;

    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s;

}

nav button {
    background-color: rgb(18, 19, 129);
    color: white;
    text-shadow: 1px 1px rgb(18, 19, 129);
}

nav button,
.offcanvas {
    background-color: rgb(18, 19, 129);
    color: white;
    font-family: 'Oxygen Mono', monospace;
    opacity: 0.97;
}

#btnClose{

  button{
    background-color: rgb(18, 19, 129);
  color: white;
  text-shadow: 1px 1px rgb(18, 19, 129);
  }

}



.loader-container{
  position: fixed;
  width: 100%;
  z-index: 99;
  margin: 2px;
 }


 #listadoIconos
  {
    color: rgb(18, 19, 129);
    font-family: 'Oxygen Mono', monospace;
    opacity: 0.99;

  button,a{
    color:rgb(115, 113, 225);
  }
  ul,li, hr{
    background-color: rgb(18, 19, 129);
    border-color: none;
    color:white;
  }
  button:hover,a:hover,li:hover, hr:hover{
        animation: shadow-pulse 1000ms 1;
        background-color: #203de2af;
        border-color: aqua;
        color:white;
        z-index: 99;

      }

}


//============ EFECTOS NAVBAR ==========
*,
*:before,
*::after {
    box-sizing: border-box;
}

#menu {
    position: relative;
    display: block;
    background-color: transparent;
    color: #fff;
    overflow: hidden;
    transition: all 500ms ease;
    cursor: pointer;
}

#menu:hover {
    animation: shadow-pulse 1000ms 1;
    background-color: #203de2af;
    border-radius: 10px;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(32, 100, 226, 0.6);
    }
    100% {
        box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
    }
}

//============ FIN EFECTOS NAVBAR ==========
