@import url('https://fonts.googleapis.com/css?family=Roboto:300');

//img
$bgCards : "https://github.com/andresWeitzel/PortafolioGraphics/raw/master/cards/c7.jpg";


    .container {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5em;
      margin-left: 3em;

  }

  .center {
      position: absolute;
  }


  #parallax-cards {
    font-family: Marske;
}

   //=========== BTN MODALS STACK ===============


  #btnOtherStack {
      width: 180px;
      height: 60px;
      cursor: pointer;
      background: transparent;
      border: 1px solid #3c47e0;
      outline: none;
      transition: 1s ease-in-out;
  }

  svg {
      position: absolute;
      left: 0;
      top: 0;
      fill: none;
      stroke: #fff;
      stroke-dasharray: 150 480;
      stroke-dashoffset: 150;
      transition: 1s ease-in-out;
  }

  #btnOtherStack:hover {
      transition: 1s ease-in-out;
      background: #344cbb;
  }

  #btnOtherStack:hover svg {
      stroke-dashoffset: -480;
  }

  #btnOtherStack span {
      color: white;
      font-size: 18px;
      font-weight: 100;
  }

  //=========== FIN BUTTONS OTHERS STACKS ===============


    //=========== FLIP CARDS OVER ========
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .flip-card {
    margin: 20px;
    margin-top: 80px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: revelar 1s;
}

  @media screen and (min-width:100px) and (max-width:600px) {
  .flip-card-others-stack {
      margin: 20px;
      margin-left: 100px;
      position: relative;
      transform-style: preserve-3d;
      perspective: 1000px;
      animation: revelar 1s;
  }



}

@media screen and (min-width:601px) and (max-width:4000px) {
  .flip-card-others-stack {
      margin: 20px;
      position: relative;
      transform-style: preserve-3d;
      perspective: 1000px;
      animation: revelar 1s;
  }

}




  .flip-card-front {
      width: 300px;
      min-height: 600px;
      height: auto;
      animation: revelar 1s;
  }

  .flip-card-back {
      width: 300px;
      min-height: 600px;
      height: auto;
      animation: revelar 1s;
  }

  .flip-card-others-stack:nth-of-type(1)
  .flip-card-front,
  .flip-card-others-stack:nth-of-type(1) .flip-card-back,
  .flip-card:nth-of-type(1) .flip-card-front,
  .flip-card:nth-of-type(1) .flip-card-back {
      background: url(#{$bgCards});
      background-size: cover;
      background-position: center;
      text-align: center;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }

  .flip-card:nth-of-type(2) .flip-card-front,
  .flip-card:nth-of-type(2) .flip-card-back {
      background: url(#{$bgCards});
      background-size: cover;
      background-position: center;
      text-align: center;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }

  .flip-card:nth-of-type(3) .flip-card-front,
  .flip-card:nth-of-type(3) .flip-card-back {
      background: url(#{$bgCards});
      background-size: cover;
      background-position: center;
      text-align: center;
      backface-visibility: hidden;
      transform-style: preserve-3d;
  }

  .flip-card:nth-of-type(4) .flip-card-front,
  .flip-card:nth-of-type(4) .flip-card-back {
      background: url(#{$bgCards});
      background-size: cover;
      background-position: center;
      text-align: center;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: transform 0.7s cubic-bezier(0.5, 0.2, 0.2, 1);
  }


  .flip-card-front {
      transform: rotateY(0deg);
  }

  .flip-card-back {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(180deg);
  }

  .flip-card-front::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #0a0a0a;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.7;
  }

  .flip-card-back::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #0a0a0a;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.4;
  }

  .flip-card-front .inner,
  .flip-card-back .inner {
      width: 100%;
      padding: 40px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateZ(60px) scale(0.94);
      z-index: 2;
  }

  .inner .icon {
      width: 150px;
      margin-bottom: 20px;
      opacity: 0.9;
  }

  .inner h3 {
      margin-bottom: 8px;
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
      text-transform: capitalize;
  }

  .inner p {
      color: #ffffff;
      font-size: 16px;
      line-height: 28px;
  }

  .flip-card-others-stack:hover .flip-card-front,
  .flip-card:hover .flip-card-front {
      transform: rotateY(-180deg);
  }

  .flip-card-others-stack:hover .flip-card-back,
  .flip-card:hover .flip-card-back {
      transform: rotateY(0deg);
  }


  //=========== MODALS OTHERS STACKS ===============


#listaIconos {
    opacity: 0.8;
    background-color: transparent;

    img{

    animation: pulse 3s ;
    animation-iteration-count: infinite;

    }
    li{
      background-color: #19221f71;
      color:white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

}

#listaTecnologias {
    opacity: 0.8;
    li{
      margin-top: 0.3em;
      animation: pulse 1.5s;
    }
    li:hover{
      background-color: #344cbb;
    }



}

#parallax-cards {
  font-family: Marske;
}


#frontendStackCard {
  animation: bounceInLeft 4s;
}

#backendStackCard {
  animation: bounceInLeft 3s;
}

#dataBaseStackCard {
  animation: bounceInRight 3s;
}

#otherStacksSection {
  animation: bounceInRight 4s;
}


#dataScienceStackCard {
  animation: bounceInRight 2s;
  margin-left: 80px;
}

#embeddedSystemsStackCard {
  animation: bounceInRight 2s;
  margin-left: 80px;
}


#frontendModal,
#backendModal,
#dataBaseModal,
#dataScienceModal,
#embeddedSystemsModal{
  padding: 1em 0em;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 40em;
  height: 50em;
  margin: 0 0 0 -20em;
}

#fondoModal {
      background-image: url(/assets/background/back32.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
}

  //======FIN  MODALS OTHER STACKS =========

