<!--=============================================-->

<!--SECCION OTHERS STACKS-->
<section id="otherStacksSection">
  <!--CONTAINER-->
  <div>



     <!--BOTON MODAL FRONTEND STACK-->
 <div class="container d-sm-none ">
  <div class="center">
    <button
      class="btn"
      id="btnOtherStack"
      data-bs-toggle="modal"
      data-bs-target="#frontendModal"
    >
      <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
      </svg>
      <span>Frontend Stack</span>
    </button>
  </div>
</div>
<!--FIN BOTON MODAL FRONTEND STACK-->

<!-- MODAL FRONTEND  STACK -->
<div
  class="modal fade text-center"
  id="frontendModal"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered bg-none">
    <div class="modal-content bg-none" id="fondoModal">
      <div class="modal-body text-center">
        <!--SECTION FRONTEND  STACK CARD-->
        <section id="frontendStackCard">
          <!--FRONTEND  STACK CARD-->
          <div class="ms-5 text-center">
            <div class="ms-4 text-center">
          <div class="flip-card-others-stack">
            <!--FRONT FLIP CARD FRONTEND  STACK -->
            <div class="flip-card-front">
              <div class="inner">
                <img
                  src="{{ this.gifFrontendCard }}"
                  height="120"
                  width="120"
                  class="icon"
                />

                <h3>Frontend Stack</h3>
                     <!--LIST GROUP ICONOS LENGUAJES-->
                     <div>
                      <h5 class="mt-2"> LENGUAJES </h5>
                  </div>

                  <div id="listaIconos">
                      <ul class="list-group">
                        <li class="list-group-item">

                          <div class="">
                              <img width="35" height="33" src={{this.imgHtml}} loading="lazy" />
                          </div>
                          <div class="ms-1
                        ">
                              <img width="35" height="33" src={{this.imgCss}} loading="lazy" />
                          </div>
                          <div class="ms-1">
                              <img width="40" height="32" src={{this.imgJs}} loading="lazy" />
                          </div>
                          <div class="ms-1">
                            <img width="30" height="30" src={{this.imgTs}} loading="lazy" />
                        </div>
                      </li>
                      </ul>
                  </div>
                  <!--FIN LIST GROUP ICONOS LENGUAJES-->

                  <!--LIST GROUP ICONOS LIBRERIAS-->
                  <div>
                    <h5 class="mt-3"> LIBRERIAS </h5>
                </div>

                <div id="listaIconos">
                    <ul class="list-group">
                      <li class="list-group-item">

                        <div class="">
                            <img width="32" height="32" src={{this.imgAngularMat}} loading="lazy" />
                        </div>

                        <div class="ms-1">
                            <img width="38" height="40" src={{this.imgJquery}} loading="lazy" />
                        </div>

                        <div class="ms-1">
                          <img width="35" height="32" src={{this.imgReact}} loading="lazy" />
                      </div>

                        <div class="ms-1">
                          <img width="32" height="38" src={{this.imgHighchart}} loading="lazy" />
                      </div>

                    </li>
                    </ul>
                </div>
                <!--FIN LIST GROUP ICONOS LIBRERIAS -->

                <!--LIST GROUP ICONOS HERRAMIENTAS-->
                <div>
                    <h5 class="mt-3"> HERRAMIENTAS </h5>
                </div>

                <div id="listaIconos">
                    <ul class="list-group">
                      <li class="list-group-item">

                        <div class="">
                            <img width="40" height="40" src={{this.imgThymeleaf}} loading="lazy" />
                        </div>
                        <div class="ms-1">
                            <img width="40" height="40" src={{this.imgScss}} loading="lazy" />
                        </div>
                        <div class="ms-1">
                          <img width="40" height="43" src={{this.imgVsc}} loading="lazy" />
                      </div>
                    </li>
                    </ul>
                </div>
                <!--FIN LIST GROUP ICONOS  HERRAMIENTAS-->


                <!--LIST GROUP ICONOS FRAMEWORKS-->
                <div>
                    <h5 class=" mt-3"> FRAMEWORKS </h5>
                </div>

                <div id="listaIconos">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <div>
                            <img width="35" height="35" src={{this.imgAngular}} loading="lazy" />
                        </div>
                        <div class="ms-2">
                            <img width="27" height="27" src={{this.imgBootstrap}} loading="lazy" />
                        </div>
                    </li>
                    </ul>
                </div>
                <!--FIN LIST GROUP ICONOS FRAMEWORKS-->
              </div>
            </div>

            <!--BACK FLIP CARD FRONTEND  STACK -->
            <div class="flip-card-back">
              <div class="inner">
                <!-- LIST GROUP ICONS-->
                <div class="row">
                  <div class="col-12">
                    <div
                      class="list-group"
                      id="listaTecnologias"
                      role="tablist"
                    >
                      <!--SPINNER TITTLE-->
                      <div>
                        <h4 class="p-2 mt-1">
                          <span
                            class="spinner-border spinner-grow-sm"
                            role="status"
                            aria-hidden="true"
                          ></span>
                          Tecnologías
                        </h4>
                      </div>



                      <!--FIN SPINNER TITTLE-->
                       <!--LIST GROUP TABLE-->
                       <a class="list-group-item list-group-item-action active bg-dark text-white mt-3" id="list-home-list-frontend p-1" data-bs-toggle="list" href="#list-home-frontend-modal" role="tab" aria-controls="list-home-frontend">LENGUAJES</a>
                       <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-settings-list-frontend" data-bs-toggle="list" href="#list-settings-frontend-modal" role="tab" aria-controls="list-settings-frontend">LIBRERIAS</a>
                       <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-profile-list-frontend" data-bs-toggle="list" href="#list-profile-frontend-modal" role="tab" aria-controls="list-profile-frontend">HERRAMIENTAS</a>
                       <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-messages-list-frontend" data-bs-toggle="list" href="#list-messages-frontend-modal" role="tab" aria-controls="list-messages-frontend">FRAMEWORKS</a>

                       <!--FIN LIST GROUP TABLE-->
                    </div>
                  </div>
                  <div class="col-12 mt-4">
                    <div class="tab-content" id="nav-tabContent">


                       <!--LENGUAJES-->
                       <div class="tab-pane fade show active" id="list-home-frontend-modal" role="tabpanel" aria-labelledby="list-home-frontend">
                        <div id="listaTecnologias">
                            <ul class="list-group justify-content-center">


                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                <img width="30" height="30" src={{this.imgHtml}} loading="lazy" />
                                  Html
                                  <span class="badge p-2">v 5.0</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1 ">
                                <img width="30" height="30" src={{this.imgCss}} loading="lazy" />
                                  Css
                                  <span class="badge p-2">v 3.0</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white  p-1">
                                <img width="32" height="30" src={{this.imgJs}} loading="lazy" />
                                  JS Vanilla
                                  <span class="badge p-2">v 3.0</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white  p-1">
                                <img
                                class="ms-1" width="23" height="25" src={{this.imgTs}} loading="lazy" />
                                  Typescript
                                  <span class="badge p-2">v 4.5</span>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <!--FIN LENGUAJES-->


                    <!--LIBRERÍAS-->
                    <div class="tab-pane fade" id="list-settings-frontend-modal" role="tabpanel" aria-labelledby="list-settings-list-frontend">
                        <div id="listaTecnologias" class="">

                            <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                <img width="25" height="25" src={{this.imgAngularMat}} loading="lazy" />
                                  Angular Material
                                  <span class="badge p-2">v 14.2</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                  <img width="30" height="30" src={{this.imgJquery}} loading="lazy" />
                                  Jquery
                                  <span class="badge p-2">v 3.6</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                  <img width="30" height="30" src={{this.imgReact}} loading="lazy" />
                                    React
                                    <span class="badge p-2">v 18.2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                  <img width="30" height="30" src={{this.imgHighchart}} loading="lazy" />
                                    Highchart
                                    <span class="badge p-2">v 10.0</span>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <!--FIN LIBRERÍAS-->





                    <!--HERRAMIENTAS-->
                    <div class="tab-pane fade" id="list-profile-frontend-modal" role="tabpanel" aria-labelledby="list-profile-list-frontend">

                        <div id="listaTecnologias" class="">
                            <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                <img width="30" height="30" src={{this.imgThymeleaf}} loading="lazy" />
                                  Thymeleaf
                                  <span class="badge p-2">v 3.0</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                  <img width="30" height="30" src={{this.imgScss}} loading="lazy" />
                                    Scss
                                    <span class="badge p-2">v 1.54</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                  <img width="30" height="30" src={{this.imgVsc}} loading="lazy" />
                                    Vis. Stud. Cod
                                    <span class="badge p-2">v 1.71</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--FIN HERRAMIENTAS-->


                    <!--FRAMEWORKS-->
                    <div class="tab-pane fade" id="list-messages-frontend-modal" role="tabpanel" aria-labelledby="list-messages-db">

                        <div id="listaTecnologias" class="">

                            <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="30" height="30" src={{this.imgAngular}} loading="lazy" />
                                  Angular
                                  <span class="badge p-2">v 12.0</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="25" height="25" src={{this.imgBootstrap}} loading="lazy" />
                                  Bootstrap
                                  <span class="badge p-2">v 5.0</span>
                              </li>

                            </ul>
                        </div>
                    </div>
                    <!--FIN FRAMEWORKS-->


                    </div>
                  </div>
                </div>
                <!--FIN LIST GROUP ICONS-->
              </div>
            </div>
            <!--FIN BACK FLIP CARD FRONTEND  STACK -->
          </div>
        </div>
      </div>


          <!--FIN FRONTEND  STACK CARD-->
        </section>
        <!--FIN SECTION FRONTEND  STACK CARD-->
      </div>

      <button
        type="button"
        class="btn btn-primary p-2"
        data-bs-dismiss="modal"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>
<!-- FIN MODAL FRONTEND STACK -->

      <!--================================-->
























 <!--BOTON MODAL BACKEND STACK-->
 <div class="container d-lg-none">
  <div class="center">
    <button
      class="btn"
      id="btnOtherStack"
      data-bs-toggle="modal"
      data-bs-target="#backendModal"
    >
      <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
      </svg>
      <span>Backend Stack</span>
    </button>
  </div>
</div>
<!--FIN BOTON MODAL BACKEND STACK-->

<!-- MODAL BACKEND  STACK -->
<div
  class="modal fade text-center"
  id="backendModal"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered bg-none">
    <div class="modal-content bg-none m-2" id="fondoModal">
      <div class="modal-body text-center">
        <!--SECTION BACKEND  STACK CARD-->
        <section id="backendStackCard">
          <!-- BACKEND  STACK CARD-->
          <div class="ms-5 text-center">
            <div class="ms-4 text-center">
          <div class="flip-card-others-stack">
            <!--FRONT FLIP CARD BACKEND  STACK -->
            <div class="flip-card-front">
              <div class="inner">
                <img
                  src="{{ this.gifBackendCard }}"
                  height="120"
                  width="120"
                  class="icon"
                />

                <h3>Backend Stack</h3>
                     <!--LIST GROUP ICONOS LENGUAJES-->
                     <div>
                      <h5 class="mt-2"> LENGUAJES </h5>
                  </div>

                  <div id="listaIconos">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div>
                                <img width="37" height="37" src={{imgJava}} loading="lazy"/>
                            </div>
                            <div class="ms-2">
                                <img width="33" height="33" src={{imgPython}} loading="lazy" />
                            </div>

                        </li>
                    </ul>
                </div>
                  <!--FIN LIST GROUP ICONOS LENGUAJES-->

                    <!--LIST GROUP ICONOS LIBRERIAS-->
          <div>
            <h5 class=" mt-3"> LIBRERIAS </h5>
        </div>

        <div id="listaIconos">
            <ul class="list-group">

              <li class="list-group-item">
                <div class="ms-2">
                  <img width="35" height="40" src={{imgLombok}} loading="lazy" />
              </div>
                <div class="ms-1">
                  <img width="30" height="30" src={{imgLog4j}} loading="lazy" />
              </div>
              <div class="ms-2">
                <img width="37" height="37" src={{imgSwagger}} loading="lazy" />
            </div>
            <div class="ms-2">
              <img width="32" height="32" src={{imgOpenApi}} loading="lazy" />
          </div>




            </li>
            </ul>
        </div>

        <!--FIN LIST GROUP ICONOS LIBRERIAS-->


                    <!--LIST GROUP ICONOS HERRAMIENTAS-->
                    <div>
                        <h5 class=" mt-3"> HERRAMIENTAS </h5>
                    </div>


                    <div id="listaIconos">
                      <ul class="list-group">

                        <li class="list-group-item">

                        <div class="ms-1">
                          <img width="35" height="35" src={{imgMaven}} loading="lazy" />
                      </div>
                      <div class="">
                        <img width="35" height="33" src={{imgGit}} loading="lazy" />
                       </div>
                      <div class="ms-1">
                        <img width="35" height="32" src={{imgPostman}} loading="lazy" />
                       </div>

                       <div class="ms-1">
                        <img width="30" height="32" src={{imgEclipse}} loading="lazy" />
                       </div>


                       <div class="ms-1">
                        <img width="38" height="36" src={{imgSts}} loading="lazy" />
                       </div>
                      </li>
                      </ul>
                  </div>




                    <!--FIN LIST GROUP ICONOS HERRAMIENTAS-->




                    <!--LIST GROUP ICONOS FRAMEWORKS-->
                    <div>
                        <h5 class=" mt-3"> Frameworks </h5>
                    </div>
                    <div id="listaIconos">
                      <ul class="list-group">

                        <li class="list-group-item">


                        <div class="ms-2">
                          <img width="37" height="35" src={{imgJsf}} loading="lazy" />
                      </div>
                          <div class="ms-2">
                            <img width="30" height="30" src={{imgHibern}} loading="lazy" />
                        </div>
                        <div class="ms-2">
                          <img width="32" height="32" src={{imgSpring}} loading="lazy" />
                      </div>



                      </li>
                      </ul>
                  </div>
                    <!--FIN LIST GROUP ICONOS FRAMEWORKS-->
              </div>
            </div>

            <!--BACK FLIP CARD BACKEND  STACK -->
            <div class="flip-card-back">
              <div class="inner">
                <!-- LIST GROUP ICONS-->
                <div class="row">
                  <div class="col-12">
                    <div
                      class="list-group"
                      id="listaTecnologias"
                      role="tablist"
                    >
                      <!--SPINNER TITTLE-->
                      <div>
                        <h4 class="p-2 mt-1">
                          <span
                            class="spinner-border spinner-grow-sm"
                            role="status"
                            aria-hidden="true"
                          ></span>
                          Tecnologías
                        </h4>
                      </div>



                      <!--FIN SPINNER TITTLE-->
                       <!--LIST GROUP TABLE-->
                       <a class="list-group-item list-group-item-action active bg-dark text-white mt-3" id="list-home-list-backend p-1" data-bs-toggle="list" href="#list-home-backend-modal" role="tab" aria-controls="list-home-backend">LENGUAJES</a>
                       <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-settings-list-backend" data-bs-toggle="list" href="#list-settings-backend-modal" role="tab" aria-controls="list-settings-backend">LIBRERÍAS</a>
                       <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-profile-list-backend" data-bs-toggle="list" href="#list-profile-backend-modal" role="tab" aria-controls="list-profile-backend">HERRAMIENTAS</a>
                       <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-messages-list-backend" data-bs-toggle="list" href="#list-messages-backend-modal" role="tab" aria-controls="list-messages-backend">FRAMEWORKS</a>

                       <!--FIN LIST GROUP TABLE-->
                    </div>
                  </div>
                  <div class="col-12 mt-4">
                    <div class="tab-content" id="nav-tabContent">


                       <!--LENGUAJES-->
                       <div class="tab-pane fade show active" id="list-home-backend-modal" role="tabpanel" aria-labelledby="list-home-backend">
                        <div id="listaTecnologias">
                            <ul class="list-group justify-content-center">


                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="30" height="30" src={{this.imgJava}} loading="lazy" />
                                  Java
                                  <span class="badge p-2">v 8.0</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="30" height="30" src={{this.imgPython}} loading="lazy" />
                                  Python
                                  <span class="badge p-2">v 3.0</span>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <!--FIN LENGUAJES-->


                    <!--LIBRERIAS-->
                    <div class="tab-pane fade" id="list-settings-backend-modal" role="tabpanel" aria-labelledby="list-settings-list-backend">
                        <div id="listaTecnologias" class="">

                            <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="25" height="25" src={{this.imgLog4j}} loading="lazy" />
                                  Log4j
                                  <span class="badge p-2">v 2.17.2</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="30" height="30" src={{this.imgSwagger}} loading="lazy" />
                                  Swagger
                                  <span class="badge p-2">v 2.0</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1 ">
                                <img width="25" height="25" src={{this.imgOpenApi}} class="ms-1" loading="lazy" />
                                  Open Api
                                  <span class="badge p-2">v 3.0</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="30" height="30" src={{this.imgLombok}} loading="lazy" class="ms-1"/>
                                  Lombok
                                  <span class="badge p-2">v 1.18.2</span>
                              </li>
                            </ul>

                        </div>
                    </div>
                    <!--FIN LIBRERÍAS-->





                    <!--HERRAMIENTAS-->
                    <div class="tab-pane fade" id="list-profile-backend-modal" role="tabpanel" aria-labelledby="list-profile-list-backend">

                        <div id="listaTecnologias" class="">
                            <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="30" height="30" src={{this.imgMaven}} loading="lazy" class="ms-1"/>
                                  Maven
                                  <span class="badge p-2">v 3.6.3</span>
                              </li>

                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="30" height="30" src={{this.imgGit}} loading="lazy" class="ms-1"/>
                                  Git
                                  <span class="badge p-2">v 2.35.1</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="25" height="25" src={{this.imgPostman}} loading="lazy" class="ms-1"/>
                                Postman
                                <span class="badge p-2">v 9.0</span>
                            </li>



                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                              <img width="25" height="30" src={{this.imgCmd}} loading="lazy" class="ms-1"/>
                                CMD
                                <span class="badge p-2">v 2.6</span>
                            </li>

                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="25" height="25" src={{this.imgEclipse}} loading="lazy" class="ms-1"/>
                                    Eclipse
                                    <span class="badge p-2">v 4.23</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="32" height="32" src={{this.imgSts}} loading="lazy" class="ms-1"/>
                                    STS
                                    <span class="badge p-2">v 4.11</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--FIN HERRAMIENTAS-->


                    <!--FRAMEWORKS-->
                    <div class="tab-pane fade" id="list-messages-backend-modal" role="tabpanel" aria-labelledby="list-messages-backend">

                        <div id="listaTecnologias" class="">

                            <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="25" height="25" src={{this.imgSpring}} loading="lazy" class="ms-1"/>
                                  Spring Fram.
                                  <span class="badge p-2">v 2.7</span>
                              </li>

                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="30" height="30" src={{this.imgJsf}} loading="lazy" class="ms-1"/>
                                  JSF
                                  <span class="badge p-2">v 2.3</span>
                              </li>

                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                <img width="25" height="25" src={{this.imgHibern}} loading="lazy" class="ms-1"/>
                                  JPA/Hiber.
                                  <span class="badge p-2">v 4</span>
                              </li>

                            </ul>
                        </div>
                    </div>
                    <!--FIN FRAMEWORKS-->


                    </div>
                  </div>
                </div>
                <!--FIN LIST GROUP ICONS-->
              </div>
            </div>
            <!--FIN BACK FLIP CARD BACKEND  STACK -->
          </div>
        </div>
      </div>
          <!--FIN BACKEND  STACK CARD-->
        </section>
        <!--FIN SECTION BACKEND  STACK CARD-->
      </div>

      <button
        type="button"
        class="btn btn-primary p-2"
        data-bs-dismiss="modal"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>
<!-- FIN MODAL BACKEND STACK -->

      <!--================================-->

















 <!--BOTON MODAL DATABASE STACK-->
 <div class="container d-flex d-xl-none">
  <div class="center">
    <button
      class="btn"
      id="btnOtherStack"
      data-bs-toggle="modal"
      data-bs-target="#dataBaseModal"
    >
      <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
      </svg>
      <span>Database Stack</span>
    </button>
  </div>
</div>
<!--FIN BOTON MODAL DATABASE STACK-->

<!-- MODAL DATABASE  STACK -->
<div
  class="modal fade text-center "
  id="dataBaseModal"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered bg-none text-center ">
    <div class="modal-content bg-none " id="fondoModal">
      <div class="modal-body text-center">
        <!--SECTION DATABASE  STACK CARD-->
        <section id="dataBaseStackCard" class="text-center">
          <!-- DATABASE  STACK CARD-->
          <div class="ms-5 text-center">
          <div class="ms-4 text-center">
          <div class="flip-card-others-stack text-center justify-content-center">
            <!--FRONT FLIP CARD DATABASE  STACK -->
            <div class="flip-card-front">
              <div class="inner">
                <img
                  src="{{ this.gifDatabaseCard }}"
                  height="120"
                  width="120"
                  class="icon"
                />

                <h3>Data Base Stack</h3>
                     <!--LIST GROUP ICONOS LENGUAJES-->
                     <div>
                      <h5 class="mt-2"> LENGUAJES </h5>
                  </div>

                  <div id="listaIconos">
                      <ul class="list-group">
                          <li class="list-group-item">
                              <div>
                                  <img width="38" height="40" src={{this.imgPlsql}} />
                              </div>
                              <div >
                                  <img class="ms-2"  width="32" height="32" src={{this.imgSql}} />
                              </div>

                              <div >
                                  <img class="ms-2"
                                    width="38" height="38" src={{this.imgPlpgsql}} />
                              </div>
                          </li>
                      </ul>
                  </div>
                  <!--FIN LIST GROUP ICONOS LENGUAJES-->

                  <!--LIST GROUP ICONOS HERRAMIENTAS-->
                  <div>
                    <h5 class="mt-3"> HERRAMIENTAS </h5>
                </div>

                <div id="listaIconos">
                    <ul class="list-group">
                      <li class="list-group-item">
                          <div class="">
                            <img width="33" height="30" src={{this.imgDbeaver}} />
                          </div>
                            <div>
                                <img class="ms-2" width="30" height="30" src={{this.imgXampp}} />
                            </div>

                            <div class="ms-2">
                              <img width="30" height="30" src={{this.imgSqlDev}} />
                            </div>


                        </li>
                    </ul>
                </div>
                <!--FIN LIST GROUP ICONOS HERRAMIENTAS-->

                <!--LIST GROUP ICONOS SGDB-SQL-->
                <div>
                    <h5 class="mt-3"> SGDB SQL </h5>
                </div>

                <div id="listaIconos">
                    <ul class="list-group">
                      <li class="list-group-item">
                            <div class="">
                              <img width="35" height="30" src={{this.imgOracle}} />
                            </div>

                            <div class="ms-2">
                                <img width="35" height="30" src={{this.imgMysql}} />
                            </div>
                            <div class="ms-2">
                              <img width="30" height="30" src={{this.imgPostgres}} />
                          </div>
                        </li>
                    </ul>
                </div>
                <!--FIN LIST GROUP ICONOS  SGDB-SQL-->


                <!--LIST GROUP ICONOS FRAMEWORKS-->
                <div>
                    <h5 class=" mt-3"> SGDB NoSQL </h5>
                </div>

                <div id="listaIconos">
                    <ul class="list-group">
                      <li class="list-group-item">

                          <div class="">
                            <img width="37" height="40" src={{this.imgFirebase}} />
                        </div>
                          <div>
                            <img width="37" height="33" src={{this.imgMongo}} />
                        </div>


                        </li>
                    </ul>
                </div>
                <!--FIN LIST GROUP ICONOS FRAMEWORKS-->
              </div>
            </div>

            <!--BACK FLIP CARD DATABASE  STACK -->
            <div class="flip-card-back">
              <div class="inner">
                <!-- LIST GROUP ICONS-->
                <div class="row">
                  <div class="col-12">
                    <div
                      class="list-group"
                      id="listaTecnologias"
                      role="tablist"
                    >
                      <!--SPINNER TITTLE-->
                      <div>
                        <h4 class="p-2 mt-1">
                          <span
                            class="spinner-border spinner-grow-sm"
                            role="status"
                            aria-hidden="true"
                          ></span>
                          Tecnologías
                        </h4>
                      </div>



                      <!--FIN SPINNER TITTLE-->
                       <!--LIST GROUP TABLE-->
                       <a class="list-group-item list-group-item-action active bg-dark text-white mt-3" id="list-home-list-db p-1" data-bs-toggle="list" href="#list-home-db-modal" role="tab" aria-controls="list-home-db">LENGUAJES</a>
                       <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-settings-list-db" data-bs-toggle="list" href="#list-settings-db-modal" role="tab" aria-controls="list-settings-db">HERRAMIENTAS</a>
                       <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-profile-list-db" data-bs-toggle="list" href="#list-profile-db-modal" role="tab" aria-controls="list-profile-db">SGDB SQL</a>
                       <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-messages-list-db" data-bs-toggle="list" href="#list-messages-db-modal" role="tab" aria-controls="list-messages-db">SGDB NOSQL</a>

                       <!--FIN LIST GROUP TABLE-->
                    </div>
                  </div>
                  <div class="col-12 mt-4">
                    <div class="tab-content" id="nav-tabContent">


                       <!--LENGUAJES-->
                       <div class="tab-pane fade show active" id="list-home-db-modal" role="tabpanel" aria-labelledby="list-home-db">
                        <div id="listaTecnologias">
                            <ul class="list-group justify-content-center">


                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="25" height="25" src={{this.imgSql}} loading="lazy" class="ms-1"/>
                                    SQL
                                    <span class="badge p-2">v 12.0</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="35" height="35" src={{this.imgPlpgsql}} loading="lazy" />
                                    PLpg/sql
                                    <span class="badge p-2">v 14.1</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="35" height="35" src={{this.imgPlsql}} loading="lazy"/>
                                    PL/SQL
                                    <span class="badge p-2">v 12.0</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--FIN LENGUAJES-->


                    <!--HERRAMIENTAS-->
                    <div class="tab-pane fade" id="list-settings-db-modal" role="tabpanel" aria-labelledby="list-settings-list-db">
                        <div id="listaTecnologias" class="">

                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="25" height="25" src={{this.imgXampp}} loading="lazy"/>
                                    XAMPP
                                    <span class="badge p-2">v 8.1</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="25" height="25" src={{this.imgSqlDev}} loading="lazy"/>
                                    SQL DEV.
                                    <span class="badge p-2">v 21.4</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="25" height="25" src={{this.imgDbeaver}} loading="lazy"/>
                                    DBEAVER
                                    <span class="badge p-2">v 21.3</span>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <!--FIN HERRAMIENTAS-->





                    <!--SGDB SQL-->
                    <div class="tab-pane fade" id="list-profile-db-modal" role="tabpanel" aria-labelledby="list-profile-list-db">

                        <div id="listaTecnologias" class="">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="25" height="25" src={{this.imgOracle}} loading="lazy"/>
                                    ORACLE
                                    <span class="badge p-2">v 12.0</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="25" height="25" src={{this.imgPostgres}} loading="lazy"/>
                                    POSTGRESQL
                                    <span class="badge p-2">v 14.1</span>
                                </li>

                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="25" height="25" src={{this.imgMysql}} loading="lazy"/>
                                    MYSQL
                                    <span class="badge p-2">v 8.0</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--FIN SGDB SQL-->


                    <!--SGDB NO-SQL-->
                    <div class="tab-pane fade" id="list-messages-db-modal" role="tabpanel" aria-labelledby="list-messages-db">

                        <div id="listaTecnologias" class="">

                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="25" height="25" src={{this.imgFirebase}} loading="lazy"/>
                                    FIREBASE
                                    <span class="badge p-2">v 9.6</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                  <img width="25" height="25" src={{this.imgMongo}} loading="lazy"/>
                                    MONGODB
                                    <span class="badge p-2">v 5.0</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--SGDB NO-SQL-->


                    </div>
                  </div>
                </div>
                <!--FIN LIST GROUP ICONS-->
              </div>
            </div>
            <!--FIN BACK FLIP CARD DATABASE  STACK -->
          </div>
        </div>
         </div>
          <!--FIN DATABASE  STACK CARD-->
        </section>
        <!--FIN SECTION DATABASE  STACK CARD-->
      </div>

      <button
        type="button"
        class="btn btn-primary p-2"
        data-bs-dismiss="modal"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>
<!-- FIN MODAL DATABASE  STACK -->

      <!--================================-->






















  <!--BOTON MODAL DATA SCIENCE STACK-->
    <div class="container">
      <div class="center">
        <button
          class="btn"
          id="btnOtherStack"
          data-bs-toggle="modal"
          data-bs-target="#dataScienceModal"
        >
          <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
          <span>Data Science Stack</span>
        </button>
      </div>
    </div>
    <!--FIN BOTON MODAL DATA SCIENCE STACK-->

    <!-- MODAL DATA SCIENCE STACK -->
    <div
      class="modal fade text-center"
      id="dataScienceModal"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered bg-none">
        <div class="modal-content bg-none m-2" id="fondoModal">
          <div class="modal-body text-center">
            <!--SECTION DATASCIENCE STACK CARD-->
            <section id="dataScienceStackCard">
              <!-- DATASCIENCE STACK CARD-->
              <div class="flip-card-others-stack">
                <!--FRONT FLIP CARD DATASCIENCE STACK -->
                <div class="flip-card-front">
                  <div class="inner">
                    <img
                      src="{{ this.gifDatascienceCard }}"
                      height="120"
                      width="120"
                      class="icon"
                    />

                    <h3>Data Science Stack</h3>
                    <!--LIST GROUP ICONOS LENGUAJES-->
                    <div>
                      <h5 class="p-2 mt-2">Lenguajes</h5>
                    </div>

                    <div id="listaIconos">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <div>
                            <img
                              width="30"
                              height="30"
                              src="{{ this.imgPython }}"
                            />
                          </div>
                          <div class="p-2">
                            <img
                              width="30"
                              height="30"
                              src="{{ this.imgMatlab }}"
                            />
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS LENGUAJES-->

                    <!--LIST GROUP ICONOS LIBRERIAS-->
                    <div>
                      <h5 class="p-2 mt-1">Librerías</h5>
                    </div>

                    <div id="listaIconos">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <div class="p-2">
                            <img
                              width="25"
                              height="25"
                              src="{{ this.imgNumpy }}"
                            />
                          </div>
                          <div>
                            <img
                              width="25"
                              height="25"
                              src="{{ this.imgMatplotlib }}"
                            />
                          </div>
                          <div class="p-2">
                            <img
                              width="22"
                              height="22"
                              src="{{ this.imgPandas }}"
                            />
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS LIBRERIAS-->
                    <!--LIST GROUP ICONOS HERRAMIENTAS-->
                    <div>
                      <h5 class="p-2 mt-1">HERRAMIENTAS</h5>
                    </div>

                    <div id="listaIconos">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <div class="p-2">
                            <img
                              width="30"
                              height="30"
                              src="{{ this.imgJupyter }}"
                            />
                          </div>
                          <div>
                            <img
                              width="30"
                              height="30"
                              src="{{ this.imgPycharm }}"
                            />
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS HERRAMIENTAS-->
                  </div>
                </div>

                <!--BACK FLIP CARD DATASCIENCE STACK -->
                <div class="flip-card-back">
                  <div class="inner">
                    <!-- LIST GROUP ICONS-->
                    <div class="row">
                      <div class="col-12">
                        <div
                          class="list-group"
                          id="listaTecnologias"
                          role="tablist"
                        >
                          <!--SPINNER TITTLE-->
                          <div>
                            <h4 class="p-2 mt-1">
                              <span
                                class="spinner-border spinner-grow-sm"
                                role="status"
                                aria-hidden="true"
                              ></span>
                              Tecnologías
                            </h4>
                          </div>
                          <!--FIN SPINNER TITTLE-->
                          <!--LIST GROUP TABLE-->
                          <a
                            class="list-group-item list-group-item-action active bg-dark text-white mt-3 p-1"
                            id="list-home-list-datascience"
                            data-bs-toggle="list"
                            href="#list-home-datascience"
                            role="tab"
                            aria-controls="list-home"
                            >Lenguajes</a
                          >
                          <a
                            class="list-group-item list-group-item-action bg-dark text-white p-1"
                            id="list-profile-list-datascience"
                            data-bs-toggle="list"
                            href="#list-profile-datascience"
                            role="tab"
                            aria-controls="list-profile"
                            >Librerías</a
                          >
                          <a
                            class="list-group-item list-group-item-action bg-dark text-white p-1"
                            id="list-settings-list-datascience"
                            data-bs-toggle="list"
                            href="#list-settings-datascience"
                            role="tab"
                            aria-controls="list-settings"
                            >Herramientas</a
                          >
                          <!--FIN LIST GROUP TABLE-->
                        </div>
                      </div>
                      <div class="col-12 mt-4">
                        <div class="tab-content" id="nav-tabContent">
                          <div
                            class="tab-pane fade show active"
                            id="list-home-datascience"
                            role="tabpanel"
                            aria-labelledby="lSist-home-list-datascience"
                          >
                            <div id="listaTecnologias">
                              <ul class="list-group justify-content-center">
                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgPython }}"
                                    loading="lazy"
                                  />
                                  Python
                                  <span class="badge p-2">v 3.0</span>
                                </li>
                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgMatlab }}"
                                    loading="lazy"
                                  />
                                  Matlab
                                  <span class="badge p-2">v 5.3</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div
                            class="tab-pane fade"
                            id="list-profile-datascience"
                            role="tabpanel"
                            aria-labelledby="list-profile-list-datascience"
                          >
                            <div id="listaTecnologias" class="">
                              <ul class="list-group">
                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgNumpy }}"
                                    loading="lazy"
                                  />
                                  Numpy
                                  <span class="badge p-2">v 1.22</span>
                                </li>
                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgMatplotlib }}"
                                    loading="lazy"
                                  />
                                  Matplotlib
                                  <span class="badge p-2">v 2.1</span>
                                </li>

                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgPandas }}"
                                    loading="lazy"
                                  />
                                  Pandas
                                  <span class="badge p-2">v 1.4</span>
                                </li>
                              </ul>
                            </div>
                          </div>

                          <div
                            class="tab-pane fade"
                            id="list-settings-datascience"
                            role="tabpanel"
                            aria-labelledby="list-settings-list-datascience"
                          >
                            <div id="listaTecnologias" class="">
                              <ul class="list-group">
                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgJupyter }}"
                                    loading="lazy"
                                  />
                                  Jupyter Notebook
                                  <span class="badge p-2">v 4.8</span>
                                </li>
                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgPycharm }}"
                                    loading="lazy"
                                  />
                                  PyCharm
                                  <span class="badge p-2">v 2021.1</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--FIN LIST GROUP ICONS-->
                  </div>
                </div>
                <!--FIN BACK FLIP CARD DATASCIENCE STACK -->
              </div>
              <!--FIN DATASCIENCE STACK CARD-->
            </section>
            <!--FIN SECTION DATASCIENCE STACK CARD-->
          </div>

          <button
            type="button"
            class="btn btn-primary p-2"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
    <!-- FIN MODAL DATA SCIENCE STACK -->

    <!--=============================================-->




















    <!--BOTON MODAL EMBEDDED SYSTEMS STACK-->
    <div class="container">
      <div class="center">
        <button
          class="btn"
          id="btnOtherStack"
          data-bs-toggle="modal"
          data-bs-target="#embeddedSystemsModal"
        >
          <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
          <span>Embedded Systems Stack</span>
        </button>
      </div>
    </div>
    <!--FIN BOTON MODAL EMBEDDED SYSTEMS STACK-->

    <!-- MODAL EMBEDDED SYSTEMS STACK -->
    <div class="modal fade text-center" id="embeddedSystemsModal">
      <div class="modal-dialog modal-dialog-centered bg-none">
        <div class="modal-content bg-none" id="fondoModal">
          <div class="modal-body">
            <!--SECTION EMBEDDED SYSTEM STACK CARD-->
            <section id="embeddedSystemsStackCard">
              <!-- EMBEDDED SYSTEM STACK CARD-->
              <div class="flip-card-others-stack">
                <!--FRONT FLIP CARD EMBEDDED SYSTEM STACK -->
                <div class="flip-card-front">
                  <div class="inner">
                    <img
                      src="{{ this.gifEmbeddedCard }}"
                      height="120"
                      width="120"
                      class="icon"
                    />

                    <h3>Embedded System Stack</h3>
                    <!--LIST GROUP ICONOS LENGUAJES-->
                    <div>
                      <h5 class="p-2 mt-3">Lenguajes</h5>
                    </div>

                    <div id="listaIconos">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <div>
                            <img
                              width="27"
                              height="27"
                              src="{{ this.imgCMasMas }}"
                              loading="lazy"
                            />
                          </div>
                          <div class="p-2">
                            <img
                              width="32"
                              height="32"
                              src="{{ this.imgMicroPython }}"
                              loading="lazy"
                            />
                          </div>
                          <div class="">
                            <img
                              width="27"
                              height="27"
                              src="{{ this.imgArduino }}"
                              loading="lazy"
                            />
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS LENGUAJES-->

                    <!--LIST GROUP ICONOS LIBRERIAS-->
                    <div>
                      <h5 class="p-2 mt-1">Hardware</h5>
                    </div>

                    <div id="listaIconos">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <div class="p-2">
                            <img
                              width="27"
                              height="27"
                              src="{{ this.imgEsp8266 }}"
                              loading="lazy"
                            />
                          </div>
                          <div>
                            <img
                              width="30"
                              height="30"
                              src="{{ this.imgMicrochip }}"
                              loading="lazy"
                            />
                          </div>
                          <div class="ms-1">
                            <img
                              width="35"
                              height="35"
                              src="{{ this.imgRaspberry }}"
                              loading="lazy"
                            />
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS LIBRERIAS-->
                    <!--LIST GROUP ICONOS HERRAMIENTAS-->
                    <div>
                      <h5 class="p-2 mt-1">HERRAMIENTAS</h5>
                    </div>

                    <div id="listaIconos">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <div class="p-2">
                            <img
                              width="35"
                              height="35"
                              src="{{ this.imgPicCompiler }}"
                              loading="lazy"
                            />
                          </div>
                          <div>
                            <img
                              width="35"
                              height="35"
                              src="{{ this.imgThonny }}"
                              loading="lazy"
                            />
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS HERRAMIENTAS-->
                  </div>
                </div>

                <!--BACK FLIP CARD SECTION EMBEDDED SYSTEM STACK -->
                <div class="flip-card-back">
                  <div class="inner">
                    <!-- LIST GROUP ICONS-->
                    <div class="row">
                      <div class="col-12">
                        <div
                          class="list-group"
                          id="listaTecnologias"
                          role="tablist"
                        >
                          <!--SPINNER TITTLE-->
                          <div>
                            <h4 class="p-2 mt-1">
                              <span
                                class="spinner-border spinner-grow-sm"
                                role="status"
                                aria-hidden="true"
                              ></span>
                              Tecnologías
                            </h4>
                          </div>
                          <!--FIN SPINNER TITTLE-->
                          <!--LIST GROUP TABLE-->
                          <a
                            class="list-group-item list-group-item-action active bg-dark text-white mt-3 p-1"
                            id="list-home-list-embedded"
                            data-bs-toggle="list"
                            href="#list-home-embedded"
                            role="tab"
                            aria-controls="list-home"
                            >Lenguajes</a
                          >
                          <a
                            class="list-group-item list-group-item-action bg-dark text-white p-1"
                            id="list-profile-list-embedded"
                            data-bs-toggle="list"
                            href="#list-profile-embedded"
                            role="tab"
                            aria-controls="list-profile"
                            >Hardware</a
                          >
                          <a
                            class="list-group-item list-group-item-action bg-dark text-white p-1"
                            id="list-settings-list-embedded"
                            data-bs-toggle="list"
                            href="#list-settings-embedded"
                            role="tab"
                            aria-controls="list-settings"
                            >Herramientas</a
                          >
                          <!--FIN LIST GROUP TABLE-->
                        </div>
                      </div>
                      <div class="col-12 mt-4">
                        <div class="tab-content" id="nav-tabContent">
                          <div
                            class="tab-pane fade show active"
                            id="list-home-embedded"
                            role="tabpanel"
                            aria-labelledby="list-home-list-embedded"
                          >
                            <div id="listaTecnologias">
                              <ul class="list-group justify-content-center">
                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgCMasMas }}"
                                    loading="lazy"
                                  />
                                  C++
                                  <span class="badge p-2">v 14.0</span>
                                </li>
                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgMatlab }}"
                                    loading="lazy"
                                  />
                                  Matlab
                                  <span class="badge p-2">v 14.0</span>
                                </li>

                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgArduino }}"
                                    loading="lazy"
                                  />
                                  Arduino
                                  <span class="badge p-2">v 1.8.18</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div
                            class="tab-pane fade"
                            id="list-profile-embedded"
                            role="tabpanel"
                            aria-labelledby="list-profile-list-embedded"
                          >
                            <div id="listaTecnologias" class="">
                              <ul class="list-group">
                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgEsp8266 }}"
                                    loading="lazy"
                                  />
                                  Esp8266
                                  <span class="badge p-2">v 8266</span>
                                </li>

                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgMicrochip }}"
                                    loading="lazy"
                                  />
                                  Microchip
                                  <span class="badge p-2">v 1.50</span>
                                </li>

                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgRaspberry }}"
                                    loading="lazy"
                                  />
                                  Raspberry
                                  <span class="badge p-2">v 5.15</span>
                                </li>
                              </ul>
                            </div>
                          </div>

                          <div
                            class="tab-pane fade"
                            id="list-settings-embedded"
                            role="tabpanel"
                            aria-labelledby="list-settings-list-embedded"
                          >
                            <div id="listaTecnologias" class="">
                              <ul class="list-group">
                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgPicCompiler }}"
                                    loading="lazy"
                                  />
                                  Pic Comp.
                                  <span class="badge p-2">v 133</span>
                                </li>
                                <li
                                  class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white p-1"
                                >
                                  <img
                                    width="25"
                                    height="25"
                                    src="{{ this.imgThonny }}"
                                    loading="lazy"
                                  />
                                  Thonny
                                  <span class="badge p-2">v 4.8</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--FIN LIST GROUP ICONS-->
                  </div>
                </div>
                <!--FIN BACK FLIP CARD SECTION EMBEDDED SYSTEM STACK -->
              </div>
              <!--FIN EMBEDDED SYSTEM STACK CARD-->
            </section>
            <!--FIN SECTION EMBEDDED SYSTEM STACK CARD-->
          </div>

          <button
            type="button"
            class="btn btn-primary p-2"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
    <!-- FIN MODAL EMBEDDED SYSTEMS STACK -->

    <!--=============================================-->
  </div>
  <!--FIN CONTAINER-->
</section>
<!--FIN SECCION OTHER STACKS-->
