<div>

    <app-navbar></app-navbar>



    <app-presentation></app-presentation>

    <app-cards></app-cards>

    <app-analytics></app-analytics>

    <app-proyects></app-proyects>

    <!--CONFIG GRAL DEL CHATBOT-->
    <df-messenger intent="WELCOME" rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/4233/4233830.png" chat-icon="https://cdn-icons-png.flaticon.com/512/4233/4233830.png" chat-title="💻  Asistente Virtual 💻" agent-id="42b1d02c-3d54-40da-8f0f-44d43e235c6c"
        language-code="es"></df-messenger>

    <!--ESTILOS DEL CHATBOT-->
    <style>
        df-messenger {
            --df-messenger-bot-message: rgb(45, 70, 185);
            --df-messenger-button-titlebar-color: rgb(45, 70, 185);
            --df-messenger-button-titlebar-font-color: white;
            --df-messenger-chat-background-color: rgb(7, 26, 82);
            --df-messenger-chat-background-border-color: rgb(7, 26, 82);
            --df-messenger-chat-background-opacity:0.3;
            --df-messenger-font-color: white;
            --df-messenger-minimized-chat-close-icon-color: white;
            --df-messenger-send-icon: rgb(30, 41, 147);
            --df-messenger-user-message: ;



        }
    </style>


<!--POPUP-->
<lib-ng-toast></lib-ng-toast>
<!--FIN POPUP-->



<!--LOADER-->
<ngx-ui-loader bgsType="three-strings"></ngx-ui-loader>
<!--FIN LOADER-->


    <app-footer></app-footer>




</div>
