<!--PARALLAX 4TA SECCION-->
<section id="parallax-analytics" class="section parallax bg4">
  <!--=============== TITTLE ===================-->

  <div class="row mb-4" id="tituloCards">
    <h1><span>Analytics</span></h1>
  </div>

  <!--=============== FIN TITTLE ===================-->

  <!--=========== NETWORK CHART ================-->
  <div id="highChart" class="ms-5">
    <div class="ms-4 p-2">
      <highcharts-chart
        [Highcharts]="Highcharts01"
        [options]="chartOptions01"
      ></highcharts-chart>
    </div>
  </div>
  <!--=========== FIN NETWORK CHART ================-->

  <div id="highChart" class="ms-1">
    <!--==== AREA/PIE COMBINED CHART ==========-->
    <div class="m-1 p-2">
      <highcharts-chart
        [Highcharts]="Highcharts02"
        [options]="chartOptions02"
      ></highcharts-chart>
    </div>
    <!--====== FIN AREA/PIE COMBINED CHART ===========-->

    <div class="d-flex d-row m-2">
      <div class="m-1">
        <highcharts-chart
          [Highcharts]="Highcharts03"
          [options]="chartOptions03"
        ></highcharts-chart>
      </div>
      <div class="m-1 me-5">
        <highcharts-chart
          [Highcharts]="Highcharts04"
          [options]="chartOptions04"
        ></highcharts-chart>
      </div>
    </div>
  </div>
  <!--========= FIN HIGHCHART ==============-->
</section>
<!-- FIN PARALLAX 4TA SECCION-->
