@import url('https://fonts.googleapis.com/css?family=Roboto:300');



//=======TITULO CARDS =======
#tituloCards {
    top: 2%;
    left: 30%;
    position: absolute;
    display: flex;
    font-family: Marske;
}


h1 {
    cursor: pointer;
    letter-spacing: 7px;
    text-decoration: underline;
}

h1 span {
    transition: .5s linear;
}

h1:hover span:nth-child(1) {
    margin-right: 5px;
    text-decoration: underline rgb(46, 73, 122);
}

h1:hover span:nth-child(1):before {
    content: "{[";
}

h1:hover span:nth-child(1) {
    margin-left: 10px;
    text-decoration: underline rgb(46, 73, 122);
}

h1:hover span:nth-child(1) {
    margin-left: 10px;
    text-decoration: underline rgb(46, 73, 122);
}

h1:hover span:nth-child(1):after {
    content: "]}";
}

h1:hover span {
    color: rgb(148, 212, 250);
    text-shadow: 0 0 10px rgba(0, 54, 126, 0.938), 0 0 20px rgba(1, 51, 117, 0.945), 0 0 40px rgba(0, 52, 119, 0.911);
    text-decoration: none;
}

//=========== FIN TITULO CARDS ============
//=========== HIGHCHART ============
#highChart {
    font-style: Marske;
    margin: 1em auto;
    text-shadow: none;
    size: 4em;
    opacity: 0.8;
    font-size: 4em;
    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }
    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }
    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }
    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }
    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }
    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }
    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }
}

#button-bar {
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

//=========== FIN HIGHCHART ============

/* Animate Background Image */

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 10%;
    }
    100% {
        background-position: 90% 90%;
    }
}

// ---------------------------------------------------
//=========== PARALLAX ===============
.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}

#parallax-proyects {
    font-family: Marske;
    background-image: url(/assets/gifs/hologram.gif);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: left;
    background-position-y: top;
}


/*Efectos Parallax*/

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.0);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.bg4::after {
    background-image: url(/assets/background/back30.jpg);
}

//=========== FIN PARALLAX ===============
