<!--PARALLAX 3RA SECCION-->
<section id="parallax-proyects" class="section parallax bg3">

    <!--=============== TITTLE ===================-->


    <div class="row mb-4" id="tituloCards">
        <h1><span>Proyectos </span> <span> y </span><span> Desarrollos</span></h1>
    </div>

    <!--=============== FIN TITTLE ===================-->

    <!--========= WEBSITES ========-->
    <div class="websites">


        <div class="left">
            <a href="https://github.com/andresWeitzel/andresWeitzel.github.io" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">Sitio Web sobre RobÓtica con <strong>Bootstrap</strong></div>
        </div>
        <div class="center">
            <div class="explainer text-center"><span>Sitios Web</span></div>


        </div>
        <div class="right">
            <a href="https://github.com/andresWeitzel/SitioWebTest_IT" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">
                <span>Sitio Web acerca de Test en IT con <strong>JS Vanilla, Full Calendar y Bootstrap</strong></span>
            </div>

        </div>

    </div>

    <!--========= FIN WEBSITES ========-->

    <!--========= WEB APPLICATIONS ========-->

    <div class="web-applications">

        <div class="lefter">

        </div>
        <div class="left">

        </div>
        <div class="center">
            <div class="explainer text-center"><span>Aplicaciones Web</span></div>

        </div>
        <div class="right">
            <a href="https://github.com/andresWeitzel/IotProductosJsp_app" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">App para la GestiÓn de Productos con <strong> JSP, Servlets, Java 8 EE, Bootstrap 4 y Mysql 15</strong></div>
        </div>
        <div class="righter">
            <a href="https://github.com/andresWeitzel/WebAppAngularBootstrap" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">App sobre violencia de gÉnero,etc con <strong>Angular 12 y Bootstrap 4</strong></div>
        </div>
    </div>

    <!--========= FIN WEB APPLICATIONS ========-->

    <!--========= DESKTOP APPLICATIONS ========-->

    <div class="desktop-applications">
        <div class="lefter">
            <a href="https://github.com/andresWeitzel/Gestor_de_Empleados" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">App para la GestiÓn de Empleados con <strong> Java 8 SE, FreeChart y Mysql 15</strong></div>
        </div>
        <div class="left">
            <a href="https://github.com/andresWeitzel/Farmaco_NTZ184" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">App para el Control de FÁrmacos en ChimpancÉs con <strong> Java 8 SE y Mysql 15</strong></div>
        </div>
        <div class="center">
            <div class="explainer text-center"><span>Aplicaciones de Escritorio</span></div>

        </div>
        <div class="right">
            <a href="https://github.com/andresWeitzel/Gestor_Gastos_Personales" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">App para la GestiÓn de Gastos Personales con <strong> Java 8 SE, FreeChart y Mysql 15</strong></div>
        </div>
        <div class="righter">

        </div>
    </div>

    <!--========= FIN DESKTOP APPLICATIONS ========-->

    <!--=========  DATABASES ========-->

    <div class="databases">
        <div class="lefter">
            <a href="https://github.com/andresWeitzel/db_Inmobiliaria_PostgreSQL" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">Base de Datos sobre una inmobiliaria con <strong> PostgreSQL 13</strong></div>
        </div>
        <div class="left">
            <a href="https://github.com/andresWeitzel/db_microelectronica_Oracle" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">Base de Datos sobre MicroelectrÓnica con <strong>Oracle XE 21c</strong></div>
        </div>
        <div class="center">
            <div class="explainer text-center"><span>Bases de Datos</span>
            </div>

        </div>
        <div class="right">
            <a href="https://github.com/andresWeitzel/Gestion_BaseDeDatos_Mysql" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">Base de Datos sobre Indumentaria con <strong>Mysql 15</strong></div>
        </div>
        <div class="righter">
            <a href="https://github.com/andresWeitzel/db_supermercado_tienda_online" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">Base de Datos supermercado Online con <strong>PostgreSQL 13</strong></div>
        </div>

    </div>

    <!--========= FIN DATABASES ========-->

    <!--========= MICROSERVICES-API REST ========-->

    <div class="microservices-apirest">
        <div class="lefter">
            <div class="text"></div>
        </div>
        <div class="left">
            <a href="https://github.com/andresWeitzel/Api_Rest_Spring_Productos" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">Api Rest acerca de Productos ElectrÓnicos con <strong>Spring Boot, Spring Security, JWT, Maven, Hibernate PostMan, Mysql, etc</strong></div>
        </div>
        <div class="center">
            <div class="explainer text-center"><span>Microservices - API Rest</span></div>

        </div>
        <div class="right">
            <a href="https://github.com/andresWeitzel/medmask" target="_blank" class="text-white"><img src="assets/proyects/iconos/informacion02.png" alt="" width="40" height="40" class="align-text-center m-1"></a>
            <div class="text">Api Rest acerca de ProducciÓn de MÁscaras para Cov-19 <strong>PHP/JAVA</strong></div>
        </div>
        <div class="righter">
            <div class="text">SEO</div>
        </div>
    </div>
    <!--========= FIN MICROSERVICES-API REST ========-->





</section>
