@import url('https://fonts.googleapis.com/css?family=Roboto:300');
//=======TITULO CARDS =======
#tituloCards {
    top: 2%;
    left: 30%;
    position: absolute;
    display: flex;
    font-style: Marske;
}

h1 {
    cursor: pointer;
    letter-spacing: 7px;
    text-decoration: underline;
}

h1 span {
    transition: .5s linear;
}

h1:hover span:nth-child(1) {
    margin-right: 5px;
    text-decoration: underline rgb(46, 73, 122);
}

h1:hover span:nth-child(1):before {
    content: "{[";
}

h1:hover span:nth-child(2) {
    margin-left: 10px;
    text-decoration: underline rgb(46, 73, 122);
}

h1:hover span:nth-child(3) {
    margin-left: 10px;
    text-decoration: underline rgb(46, 73, 122);
}

h1:hover span:nth-child(3):after {
    content: "]}";
}

h1:hover span {
    color: rgb(148, 212, 250);
    text-shadow: 0 0 10px rgba(0, 54, 126, 0.938), 0 0 20px rgba(1, 51, 117, 0.945), 0 0 40px rgba(0, 52, 119, 0.911);
    text-decoration: none;
}

//=========== FIN TITULO CARDS ============
//=========== DESPLIEGUE PROYECTOS ========
//---------- WEBSITES -------------------
.websites {
    position: absolute;
    top: 8%;
    left: 7%;
    display: flex;
    width: 1200px;
    height: auto;
    perspective: 10px;
    transform: perspective(300px) rotatex(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
}

.websites:hover {
    perspective: 1000px;
    transition: all 1s ease-in;
    transform: perspective(10000px) rotateY(0deg);
    .text {
        opacity: 1;
    }
    &>div {
        opacity: 1;
        transition-delay: 0s;
    }
    .explainer {
        opacity: 0;
    }
}

.websites .explainer {
    background-image: url('/assets/gifs/spheres/sphere07.gif');
}

.websites .center {
    background-image: url('/assets/proyects/gif-back/back01.gif');
}

.websites .left {
    background-image: url('/assets/proyects/websites/robotica.png');
}

.websites .right {
    background-image: url('/assets/proyects/websites/it.png');
}

//---------- FIN WEBSITES --------------
//---------- WEB-APPLICATIONS -------------
.web-applications {
    position: absolute;
    top: 21%;
    left: 7%;
    display: flex;
    width: 1200px;
    height: auto;
    perspective: 10px;
    transform: perspective(300px) rotatex(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
}

.web-applications:hover {
    perspective: 1000px;
    transition: all 1s ease-in;
    transform: perspective(10000px) rotateX(0deg);
    .text {
        opacity: 1;
    }
    &>div {
        opacity: 1;
        transition-delay: 0s;
    }
    .explainer {
        opacity: 0;
    }
}

.web-applications .explainer {
    background-image: url('/assets/gifs/spheres/sphere10.gif');
    //background-image: radial-gradient(circle at center top, rgb(58, 58, 182), rgb(19, 19, 158));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.web-applications .center {
    background-image: url('/assets/proyects/gif-back/back02.gif');
    background-size: cover;
}

.web-applications .lefter {
    //background-image: url('/assets/proyects/webapps/violencia-genero-angular.png');
}

.web-applications .left {
    //background-image: url('/assets/proyects/webapps/productos-jsp.png');
}

.web-applications .right {
    background-image: url('/assets/proyects/webapps/productos-jsp.png');
}

.web-applications .righter {
    background-image: url('/assets/proyects/webapps/violencia-genero-angular.png');
}

//---------- FIN WEB-APPLICATIONS ----------
//---------- DESKTOP-APPLICATIONS ------------
.desktop-applications {
    position: absolute;
    top: 34%;
    left: 7%;
    display: flex;
    width: 1200px;
    height: auto;
    perspective: 10px;
    transform: perspective(200px) rotatex(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
}

.desktop-applications:hover {
    perspective: 1000px;
    transition: all 1s ease-in;
    transform: perspective(10000px) rotateX(0deg);
    .text {
        opacity: 1;
    }
    &>div {
        opacity: 1;
        transition-delay: 0s;
    }
    .explainer {
        opacity: 0;
    }
}

.desktop-applications .explainer {
    background-image: url('/assets/gifs/spheres/sphere08.gif');
    //background-image: radial-gradient(circle at center top, rgb(58, 58, 182), rgb(19, 19, 158));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.desktop-applications .center {
    background-image: url('/assets/proyects/gif-back/back05.gif');
    background-size: cover;
}

.desktop-applications .lefter {
    background-image: url('/assets/proyects/desktop-apps/gestorEmpleados.png');
}

.desktop-applications .left {
    background-image: url('/assets/proyects/desktop-apps/farmacoNtz.png');
}

.desktop-applications .right {
    background-image: url('/assets/proyects/desktop-apps/gestorGastosPersonales.png');
}

.desktop-applications .righter {
    &.righter {
        opacity: 0;
    }
}

//---------- FIN DESKTOP-APPLICATIONS -------------
//--------- DATABASES ---------------
.databases {
    position: absolute;
    top: 48%;
    left: 7%;
    display: flex;
    width: 1200px;
    height: auto;
    perspective: 10px;
    transform: perspective(300px) rotatex(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
}

.databases:hover {
    perspective: 1000px;
    transition: all 1s ease-in;
    transform: perspective(10000px) rotateX(0deg);
    .text {
        opacity: 1;
    }
    &>div {
        opacity: 1;
        transition-delay: 0s;
    }
    .explainer {
        opacity: 0;
    }
}

.databases .explainer {
    background-image: url('/assets/gifs/spheres/sphere12.gif');
    //background-image: radial-gradient(circle at center top, rgb(58, 58, 182), rgb(19, 19, 158));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.databases .center {
    background-image: url('/assets/proyects/gif-back/back04.gif');
    background-size: cover;
}

.databases .lefter {
    background-image: url('/assets/proyects/databases/db_inmobiliaria.png');
}

.databases .left {
    background-image: url('/assets/proyects/databases/db_microelectronica.png');
}

.databases .right {
    background-image: url('/assets/proyects/databases/db_indumentaria.png');
}

.databases .righter {
    background-image: url('/assets/proyects/databases/db_supermercado_ER.png');
}

//----------- FIN DATABASES ----------------------
//---------- MICROSERVICES-APIREST -----------------
.microservices-apirest {
    position: absolute;
    top: 62%;
    left: 7%;
    display: flex;
    width: 1200px;
    height: auto;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
}

.microservices-apirest:hover {
    perspective: 1000px;
    transition: all 1s ease-in;
    transform: perspective(10000px) rotateX(0deg);
    .text {
        opacity: 1;
    }
    &>div {
        opacity: 1;
        transition-delay: 0s;
    }
    .explainer {
        opacity: 0;
    }
}

.microservices-apirest .explainer {
    background-image: url('/assets/gifs/spheres/sphere11.gif');
    //background-image: radial-gradient(circle at center top, rgb(58, 58, 182), rgb(19, 19, 158));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.microservices-apirest .center {
    background-image: url('/assets/proyects/gif-back/back06.webp');
    background-size: cover;
}

.microservices-apirest .left {
    background-image: url('/assets/proyects/rest-microservices/apiRestProductos.jpg');
}

.microservices-apirest .right {
    background-image: url('/assets/proyects/rest-microservices/apiRestCovid.png');
}

//---------- FIN MICROSERVICES-APIREST -----------
//--------- EMBEDDED-SYSTEMS -----------
.embedded-systems {
    position: absolute;
    top: 76%;
    left: 7%;
    display: flex;
    width: 1200px;
    height: auto;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
}

.embedded-systems:hover {
    perspective: 1000px;
    transition: all 1s ease-in;
    transform: perspective(10000px) rotateX(0deg);
    .text {
        opacity: 1;
    }
    &>div {
        opacity: 1;
        transition-delay: 0s;
    }
    .explainer {
        opacity: 0;
    }
}

.embedded-systems .explainer {
    background-image: url('/assets/gifs/spheres/sphere09.gif');
    //background-image: radial-gradient(circle at center top, rgb(58, 58, 182), rgb(19, 19, 158));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.embedded-systems .center {
    background-image: url('/assets/proyects/gif-back/back02.gif');
    background-size: cover;
}

.embedded-systems .left {
    background-image: url('/assets/proyects/embedded-systems/controlNivelAgua.png');
}

.embedded-systems .right {
    background-image: url('/assets/proyects/embedded-systems/controlTempHum.png');
}

.embedded-systems .left,
.embedded-systems .right,
.embedded-systems .lefter,
.embedded-systems .righter {
    width: 200px;
    height: 160px;
}

//--------- FIN EMBEDDED-SYSTEMS -----------
//--------- GENERALS CONFIG----------------
.left,
.right,
.lefter,
.righter {
    width: 250px;
    height: 200px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.342);
    box-shadow: 0 0 20px 5px rgba(44, 44, 146, 0.548);
    opacity: 0;
    transition: all 0.8s ease;
    transition-delay: 0.8s;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    &:hover {
        box-shadow: 0 0 30px 10px rgba(17, 17, 160, 0.548);
        background-color: rgba(55, 85, 185, 0.692);
    }
    img {
        animation: pulse 1s infinite;
    }
}

.center {
    width: 240px;
    height: 90px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.342);
    box-shadow: 0 0 20px 5px rgba(44, 44, 146, 0.548);
    opacity: 1;
    transition: all 1s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //background-color: rgba(26, 100, 228, 0.808);
    cursor: pointer;
    background-blend-mode: color-burn;
    &:hover {
        box-shadow: 0 0 30px 10px rgba(17, 17, 160, 0.548);
        background-color: rgba(41, 41, 138, 0.692);
    }
}

.text {
    transform: translateY(3px);
    opacity: 0;
    transition: all .3s ease;
    bottom: 0;
    text-align: center;
    position: absolute;
    will-change: transform;
    color: #fff;
    background-color: rgba(48, 98, 190, 0.692);
    text-shadow: 0 0 5px rgba(43, 43, 201, 0.6);
    cursor: pointer;
}

.lefter {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
}

.left {
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
}

.center:hover {
    box-shadow: 0 0 30px 10px rgba(17, 17, 160, 0.336);
    background-color: rgba(41, 41, 138, 0.39);
}

.right {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
}

.righter {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
}

.explainer {
    font-weight: 200;
    font-size: 1.7rem;
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.ref {
    background-color: #000;
    border-radius: 3px;
    padding: 7px 10px;
    position: absolute;
    font-size: 25px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    &::first-letter {
        font-size: 12px;
    }
}

//-------------- FIN GENERALS CONFIG----------------
//========== FIN DESPLIEGUE PROYECTOS ==============
@keyframes revelar {
    0% {
        opacity: 0;
        width: 400 1em/1.5;
    }
    20% {
        opacity: 0;
        width: 400 1em/1.5;
    }
    30% {
        opacity: 0;
        width: 400 1em/1.5;
    }
    50% {
        opacity: 1;
        width: 400 1em/1.5;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        width: 400 1em/1.5;
    }
}

@keyframes ocultar {
    100% {
        opacity: 0;
        width: 400 1em/1.5;
    }
    80% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        width: 400 1em/1.5;
    }
    30% {
        opacity: 1;
        width: 400 1em/1.5;
    }
    20% {
        opacity: 1;
        width: 400 1em/1.5;
    }
    0% {
        opacity: 1;
        width: 400 1em/1.5;
    }
}


/* Animate Background Image */

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 10%;
    }
    100% {
        background-position: 90% 90%;
    }
}

// ---------------------------------------------------
//=========== PARALLAX ===============
.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}

#parallax-proyects {
    font-family: Marske;
    background-image: url(/assets/gifs/db.gif);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
}


/*Efectos Parallax*/

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.0);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.bg3::after {
    background-image: url(/assets/background/back32.jpg);
}

//=========== FIN PARALLAX ===============
