

//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
    //background-image: url(/assets/background/background.jpg);
    background-image: url(https://images.hdqwalls.com/wallpapers/blue-triangle-abstract-4k-bf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
}

@font-face {
    font-family: 'Marske';
    src: url('assets/typographies/Marske/Marske.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    padding: 8%;
    letter-spacing: 4px;
}

@font-face {
    font-family: 'Mylodon';
    src: url('assets/typographies/Mylodon/Mylodon.otf') format("truetype");
    font-weight: normal;
    font-style: normal;
    padding: 8%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
