<!--PARALLAX 2DA SECCION-->
<section id="parallax-cards" class="section parallax bg2">


    <!--=============================================-->

    <div class="row mb-4 ms-1" id="tituloCards">

        <h1><span>Stack </span> <span> de </span><span> Tecnologías</span></h1>
    </div>


















    <!--=============================================-->

    <!--SECTION FRONTEND STACK CARD-->
    <section id="frontendStackCard">
        <!--FLIP CARDS FRONTEND STACK-->
        <div class="flip-card d-none d-sm-flex d-md-flex d-lg-flex d-xl-flex">
            <!--FRONT FLIP CARD  FRONTEND STACK-->
            <div class="flip-card-front">
                <div class="inner">
                    <img id="listaIconos" src={{this.gifFrontendCard}} loading="lazy" height="130" class="icon" />

                    <div>
                        <h3 class=""> Frontend Stack </h3>
                    </div>

                    <!--LIST GROUP ICONOS LENGUAJES-->
                    <div>
                        <h5 class="p-1 mt-2"> Lenguajes </h5>
                    </div>

                    <div id="listaIconos">
                        <ul class="list-group">
                          <li class="list-group-item">

                                <div class="">
                                    <img width="35" height="33" src={{this.imgHtml}} loading="lazy" />
                                </div>
                                <div class="ms-1
                              ">
                                    <img width="35" height="33" src={{this.imgCss}} loading="lazy" />
                                </div>
                                <div class="ms-1">
                                    <img width="40" height="32" src={{this.imgJs}} loading="lazy" />
                                </div>
                                <div class="ms-1">
                                  <img width="30" height="30" src={{this.imgTs}} loading="lazy" />
                              </div>
                            </li>
                        </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS LENGUAJES-->

    <!--LIST GROUP ICONOS LIBRERIAS-->
    <div>
      <h5 class="mt-3"> LIBRERIAS </h5>
  </div>

  <div id="listaIconos">
      <ul class="list-group">
        <li class="list-group-item">

              <div class="">
                  <img width="32" height="32" src={{this.imgAngularMat}} loading="lazy" />
              </div>

              <div class="ms-1">
                  <img width="38" height="40" src={{this.imgJquery}} loading="lazy" />
              </div>

              <div class="ms-1">
                <img width="35" height="32" src={{this.imgReact}} loading="lazy" />
            </div>

              <div class="ms-1">
                <img width="32" height="38" src={{this.imgHighchart}} loading="lazy" />
            </div>

          </li>
      </ul>
  </div>
  <!--FIN LIST GROUP ICONOS LIBRERIAS-->




                    <!--LIST GROUP ICONOS HERRAMIENTAS-->
                    <div>
                        <h5 class="mt-3"> HERRAMIENTAS </h5>
                    </div>

                    <div id="listaIconos">
                        <ul class="list-group">
                          <li class="list-group-item">

                                <div class="">
                                    <img width="40" height="40" src={{this.imgThymeleaf}} loading="lazy" />
                                </div>



                                <div class="ms-1">
                                    <img width="40" height="40" src={{this.imgScss}} loading="lazy" />
                                </div>

                                <div class="ms-1">
                                  <img width="40" height="43" src={{this.imgVsc}} loading="lazy" />
                              </div>
                            </li>
                        </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS HERRAMIENTAS-->








                    <!--LIST GROUP ICONOS FRAMEWORKS-->
                    <div>
                        <h5 class=" mt-3"> Frameworks </h5>
                    </div>

                    <div id="listaIconos">
                        <ul class="list-group">
                          <li class="list-group-item">

                                <div>
                                    <img width="35" height="35" src={{this.imgAngular}} loading="lazy" />
                                </div>
                                <div class="ms-2">
                                    <img width="27" height="27" src={{this.imgBootstrap}} loading="lazy" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS FRAMEWORKS-->





                </div>
            </div>
            <!--FIN FRONT FLIP CARD FRONTEND STACK -->



            <!--BACK FLIP CARD FRONTEND STACK -->
            <div class="flip-card-back">
                <div class="inner">

                    <!-- LIST GROUP ICONS-->
                    <div class="row">
                        <div class="col-12">
                            <div class="list-group" id="listaTecnologias" role="tablist">


                                <!--SPINNER TITTLE-->
                                <div>
                                    <h4 class="p-2 mt-1"><span class="spinner-border spinner-grow-sm" role="status" aria-hidden="true"></span> Tecnologías </h4>
                                </div>
                                <!--FIN SPINNER TITTLE-->
                                <!--LIST GROUP TABLE-->
                                <a class="list-group-item list-group-item-action active bg-dark text-white mt-3  p-1" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Lenguajes</a>
                                <a class="list-group-item list-group-item-action bg-dark text-white  p-1" id="list-librerias-list " data-bs-toggle="list" href="#list-librerias" role="tab" aria-controls="list-messages">Librerías</a>
                                <a class="list-group-item list-group-item-action bg-dark text-white  p-1" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Herramientas</a>
                                <a class="list-group-item list-group-item-action bg-dark text-white" id="list-profile-list  p-1" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Frameworks</a>


                                <!--FIN LIST GROUP TABLE-->
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="tab-content" id="nav-tabContent">

                                <!-- LISTADO LENGUAJES-->
                                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">


                                    <div id="listaTecnologias">
                                        <ul class="list-group justify-content-center">
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                              <img width="30" height="30" src={{this.imgHtml}} loading="lazy" />
                                                Html
                                                <span class="badge p-2">v 5.0</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1 ">
                                              <img width="30" height="30" src={{this.imgCss}} loading="lazy" />
                                                Css
                                                <span class="badge p-2">v 3.0</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white  p-1">
                                              <img width="32" height="30" src={{this.imgJs}} loading="lazy" />
                                                JS Vanilla
                                                <span class="badge p-2">v 3.0</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white  p-1">
                                              <img
                                              class="ms-1" width="23" height="25" src={{this.imgTs}} loading="lazy" />
                                                Typescript
                                                <span class="badge p-2">v 4.5</span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <!-- FIN LISTADO LENGUAJES-->

<!-- LISTADO LIBRERIAS-->
                                <div class="tab-pane fade" id="list-librerias" role="tabpanel" aria-labelledby="list-melirbrerias-list">

                                    <div id="listaTecnologias" class="">

                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                              <img width="25" height="25" src={{this.imgAngularMat}} loading="lazy" />
                                                Angular Material
                                                <span class="badge p-2">v 14.2</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                                <img width="30" height="30" src={{this.imgJquery}} loading="lazy" />
                                                Jquery
                                                <span class="badge p-2">v 3.6</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                                <img width="30" height="30" src={{this.imgReact}} loading="lazy" />
                                                  React
                                                  <span class="badge p-2">v 18.2</span>
                                              </li>
                                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                                <img width="30" height="30" src={{this.imgHighchart}} loading="lazy" />
                                                  Highchart
                                                  <span class="badge p-2">v 10.0</span>
                                              </li>

                                        </ul>
                                    </div>
                                </div>
                                <!-- FIN LISTADO LIBRERIAS->


                                <!-- LISTADO HERRAMIENTAS-->
                                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-profile-list">

                                    <div id="listaTecnologias" class="">
                                        <ul class="list-group ">



                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                              <img width="30" height="30" src={{this.imgThymeleaf}} loading="lazy" />
                                                Thymeleaf
                                                <span class="badge p-2">v 3.0</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                                <img width="30" height="30" src={{this.imgScss}} loading="lazy" />
                                                  Scss
                                                  <span class="badge p-2">v 1.54</span>
                                              </li>
                                              <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white  p-1">
                                                <img width="30" height="30" src={{this.imgVsc}} loading="lazy" />
                                                  Vis. Stud. Cod
                                                  <span class="badge p-2">v 1.71</span>
                                              </li>


                                        </ul>
                                    </div>

                                </div>
                                <!-- FIN LISTADO HERRAMIENTAS-->


                                <!--  LISTADO FRAMEWORKS-->
                                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-settings-list">

                                    <div id="listaTecnologias" class="">

                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="30" height="30" src={{this.imgAngular}} loading="lazy" />
                                                Angular
                                                <span class="badge p-2">v 12.0</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="25" height="25" src={{this.imgBootstrap}} loading="lazy" />
                                                Bootstrap
                                                <span class="badge p-2">v 5.0</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <!-- FIN LISTADO FRAMEWORKS-->




                            </div>
                        </div>
                    </div>
                    <!--FIN LIST GROUP ICONS-->

                </div>
            </div>
            <!--FIN BACK FLIP CARD FRONTEND STACK -->
        </div>
        <!--FIN FRONTEND STACK CARD-->
    </section>
    <!--FIN SECTION FRONTEND STACK CARD-->

    <!--=============================================-->























    <!--SECTION BACKEND STACK CARD-->
    <section id="backendStackCard">
        <!-- BACKEND STACK CARD-->
        <div class="flip-card d-none d-sm-none d-md-none d-lg-flex">
            <div class="flip-card-front">
                <div class="inner">
                    <img id="listaIconos" src={{gifBackendCard}} width="80" height="100" class="icon" />

                    <h3 class="mt-3">Backend Stack</h3>


                    <!--LIST GROUP ICONOS LENGUAJES-->
                    <div>
                        <h5 class="p-1 mt-2"> Lenguajes </h5>
                    </div>

                    <div id="listaIconos">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div>
                                    <img width="37" height="37" src={{imgJava}} loading="lazy"/>
                                </div>
                                <div class="ms-2">
                                    <img width="33" height="33" src={{imgPython}} loading="lazy" />
                                </div>

                            </li>
                        </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS LENGUAJES-->





          <!--LIST GROUP ICONOS LIBRERIAS-->
          <div>
            <h5 class=" mt-3"> LIBRERIAS </h5>
        </div>

        <div id="listaIconos">
            <ul class="list-group">

              <li class="list-group-item">
                <div class="ms-2">
                  <img width="35" height="40" src={{imgLombok}} loading="lazy" />
              </div>
                <div class="ms-1">
                  <img width="30" height="30" src={{imgLog4j}} loading="lazy" />
              </div>
              <div class="ms-2">
                <img width="37" height="37" src={{imgSwagger}} loading="lazy" />
            </div>
            <div class="ms-2">
              <img width="32" height="32" src={{imgOpenApi}} loading="lazy" />
          </div>




            </li>
            </ul>
        </div>

        <!--FIN LIST GROUP ICONOS LIBRERIAS-->


                    <!--LIST GROUP ICONOS HERRAMIENTAS-->
                    <div>
                        <h5 class=" mt-3"> HERRAMIENTAS </h5>
                    </div>


                    <div id="listaIconos">
                      <ul class="list-group">

                        <li class="list-group-item">

                        <div class="ms-1">
                          <img width="35" height="35" src={{imgMaven}} loading="lazy" />
                      </div>
                      <div class="">
                        <img width="35" height="33" src={{imgGit}} loading="lazy" />
                       </div>
                      <div class="ms-1">
                        <img width="35" height="32" src={{imgPostman}} loading="lazy" />
                       </div>

                       <div class="ms-1">
                        <img width="30" height="32" src={{imgEclipse}} loading="lazy" />
                       </div>


                       <div class="ms-1">
                        <img width="38" height="36" src={{imgSts}} loading="lazy" />
                       </div>
                      </li>
                      </ul>
                  </div>




                    <!--FIN LIST GROUP ICONOS HERRAMIENTAS-->




                    <!--LIST GROUP ICONOS FRAMEWORKS-->
                    <div>
                        <h5 class=" mt-3"> Frameworks </h5>
                    </div>
                    <div id="listaIconos">
                      <ul class="list-group">

                        <li class="list-group-item">


                        <div class="ms-2">
                          <img width="37" height="35" src={{imgJsf}} loading="lazy" />
                      </div>
                          <div class="ms-2">
                            <img width="30" height="30" src={{imgHibern}} loading="lazy" />
                        </div>
                        <div class="ms-2">
                          <img width="32" height="32" src={{imgSpring}} loading="lazy" />
                      </div>



                      </li>
                      </ul>
                  </div>
                    <!--FIN LIST GROUP ICONOS FRAMEWORKS-->



                </div>
            </div>

            <!--BACK FLIP CARD BACKEND STACK -->
            <div class="flip-card-back">
                <div class="inner">

                    <!-- LIST GROUP ICONS-->
                    <div class="row">
                        <div class="col-12">
                            <div class="list-group" id="listaTecnologias" role="tablist">


                                <!--SPINNER TITTLE-->
                                <div>
                                    <h4 class="p-2 mt-1"><span class="spinner-border spinner-grow-sm" role="status" aria-hidden="true"></span> Tecnologías </h4>
                                </div>
                                <!--FIN SPINNER TITTLE-->
                                <!--LIST GROUP TABLE-->
                                <a class="list-group-item list-group-item-action active bg-dark text-white mt-3 p-1" id="list-home-list-backend" data-bs-toggle="list" href="#list-home-backend" role="tab" aria-controls="list-home">Lenguajes</a>
                                <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-settings-list-backend" data-bs-toggle="list" href="#list-settings-backend" role="tab" aria-controls="list-settings">Librerías</a>
                                <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-profile-list-backend" data-bs-toggle="list" href="#list-profile-backend" role="tab" aria-controls="list-profile">Herramientas</a>
                                <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-messages-list-backend" data-bs-toggle="list" href="#list-messages-backend" role="tab" aria-controls="list-messages">Frameworks</a>

                                <!--FIN LIST GROUP TABLE-->
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="tab-content" id="nav-tabContent">


                                <!--LENGUAJES-->
                                <div class="tab-pane fade show active" id="list-home-backend" role="tabpanel" aria-labelledby="list-home-list-backend">
                                    <div id="listaTecnologias">
                                        <ul class="list-group justify-content-center">

                                          <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                            <img width="30" height="30" src={{this.imgJava}} loading="lazy" />
                                              Java
                                              <span class="badge p-2">v 8.0</span>
                                          </li>
                                          <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                            <img width="30" height="30" src={{this.imgPython}} loading="lazy" />
                                              Python
                                              <span class="badge p-2">v 3.0</span>
                                          </li>

                                        </ul>
                                    </div>
                                </div>

                                <!--FIN LENGUAJES-->





                                <!--LIBRERIAS-->

                                <div class="tab-pane fade" id="list-settings-backend" role="tabpanel" aria-labelledby="list-settings-list-backend">

                                    <div id="listaTecnologias" class="">

                                        <ul class="list-group">
                                          <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                            <img width="25" height="25" src={{this.imgLog4j}} loading="lazy" />
                                              Log4j
                                              <span class="badge p-2">v 2.17.2</span>
                                          </li>
                                          <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                            <img width="30" height="30" src={{this.imgSwagger}} loading="lazy" />
                                              Swagger
                                              <span class="badge p-2">v 2.0</span>
                                          </li>
                                          <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1 ">
                                            <img width="25" height="25" src={{this.imgOpenApi}} class="ms-1" loading="lazy" />
                                              Open Api
                                              <span class="badge p-2">v 3.0</span>
                                          </li>
                                          <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                            <img width="30" height="30" src={{this.imgLombok}} loading="lazy" class="ms-1"/>
                                              Lombok
                                              <span class="badge p-2">v 1.18.2</span>
                                          </li>


                                        </ul>
                                    </div>
                                </div>

                                <!--FIN LIBRERIAS-->




                                <!--HERRAMIENTAS-->

                                <div class="tab-pane fade" id="list-profile-backend" role="tabpanel" aria-labelledby="list-profile-list-backend">

                                    <div id="listaTecnologias" class="">
                                        <ul class="list-group">

                                          <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                            <img width="30" height="30" src={{this.imgMaven}} loading="lazy" class="ms-1"/>
                                              Maven
                                              <span class="badge p-2">v 3.6.3</span>
                                          </li>

                                          <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                            <img width="30" height="30" src={{this.imgGit}} loading="lazy" class="ms-1"/>
                                              Git
                                              <span class="badge p-2">v 2.35.1</span>
                                          </li>
                                          <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                            <img width="25" height="25" src={{this.imgPostman}} loading="lazy" class="ms-1"/>
                                            Postman
                                            <span class="badge p-2">v 9.0</span>
                                        </li>



                                        <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                          <img width="25" height="30" src={{this.imgCmd}} loading="lazy" class="ms-1"/>
                                            CMD
                                            <span class="badge p-2">v 2.6</span>
                                        </li>

                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="25" height="25" src={{this.imgEclipse}} loading="lazy" class="ms-1"/>
                                                Eclipse
                                                <span class="badge p-2">v 4.23</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="32" height="32" src={{this.imgSts}} loading="lazy" class="ms-1"/>
                                                STS
                                                <span class="badge p-2">v 4.11</span>
                                            </li>



                                        </ul>
                                    </div>
                                </div>
                                <!--FIN HERRAMIENTAS-->
                                <!--FRAMEWORKS-->
                                <div class="tab-pane fade" id="list-messages-backend" role="tabpanel" aria-labelledby="list-messages-list-backend">

                                    <div id="listaTecnologias" class="">

                                        <ul class="list-group">
                                          <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                            <img width="25" height="25" src={{this.imgSpring}} loading="lazy" class="ms-1"/>
                                              Spring Fram.
                                              <span class="badge p-2">v 2.7</span>
                                          </li>

                                          <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                            <img width="30" height="30" src={{this.imgJsf}} loading="lazy" class="ms-1"/>
                                              JSF
                                              <span class="badge p-2">v 2.3</span>
                                          </li>

                                          <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                            <img width="25" height="25" src={{this.imgHibern}} loading="lazy" class="ms-1"/>
                                              JPA/Hiber.
                                              <span class="badge p-2">v 4</span>
                                          </li>

                                        </ul>
                                    </div>
                                </div>
                                <!--FIN FRAMEWORKS-->



                            </div>
                        </div>
                    </div>
                    <!--FIN LIST GROUP ICONS-->

                </div>
            </div>
            <!--FIN BACK FLIP CARD BACKEND STACK -->
        </div>
        <!--FIN BACKEND STACK CARD-->
    </section>
    <!--FIN SECTION BACKEND STACK CARD-->

    <!--=============================================-->

    <!--SECTION DATABASE STACK CARD-->
    <section id="dataBaseStackCard ">
        <!-- DATABASE STACK CARD-->
        <div class="flip-card d-sm-none d-none d-sm-none d-md-none d-lg-none d-xl-flex">

            <!--FRONT FLIP CARD DATABASE STACK -->
            <div class="flip-card-front mt-0">
                <div class="inner">
                    <img src={{this.gifDatabaseCard}} height="120" width="140" class="icon " />

                    <h3>Database Stack</h3>
                    <!--LIST GROUP ICONOS LENGUAJES-->
                    <div>
                        <h5 class="mt-2"> LENGUAJES </h5>
                    </div>

                    <div id="listaIconos">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div>
                                    <img width="38" height="40" src={{this.imgPlsql}} />
                                </div>
                                <div >
                                    <img class="ms-2"  width="32" height="32" src={{this.imgSql}} />
                                </div>

                                <div >
                                    <img class="ms-2"
                                      width="38" height="38" src={{this.imgPlpgsql}} />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS LENGUAJES-->

                    <!--LIST GROUP ICONOS HERRAMIENTAS-->
                    <div>
                        <h5 class="mt-3"> HERRAMIENTAS </h5>
                    </div>

                    <div id="listaIconos">
                        <ul class="list-group">
                          <li class="list-group-item">
                              <div class="">
                                <img width="33" height="30" src={{this.imgDbeaver}} />
                              </div>
                                <div>
                                    <img class="ms-2" width="30" height="30" src={{this.imgXampp}} />
                                </div>

                                <div class="ms-2">
                                  <img width="30" height="30" src={{this.imgSqlDev}} />
                                </div>


                            </li>
                        </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS HERRAMIENTAS-->

                    <!--LIST GROUP ICONOS SGDB-SQL-->
                    <div>
                        <h5 class="mt-3"> SGDB SQL </h5>
                    </div>

                    <div id="listaIconos">
                        <ul class="list-group">
                          <li class="list-group-item">
                                <div class="">
                                  <img width="35" height="30" src={{this.imgOracle}} />
                                </div>

                                <div class="ms-2">
                                    <img width="35" height="30" src={{this.imgMysql}} />
                                </div>
                                <div class="ms-2">
                                  <img width="30" height="30" src={{this.imgPostgres}} />
                              </div>
                            </li>
                        </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS  SGDB-SQL-->


                    <!--LIST GROUP ICONOS FRAMEWORKS-->
                    <div>
                        <h5 class=" mt-3"> SGDB NoSQL </h5>
                    </div>

                    <div id="listaIconos">
                        <ul class="list-group">
                          <li class="list-group-item">

                              <div class="">
                                <img width="37" height="40" src={{this.imgFirebase}} />
                            </div>
                              <div>
                                <img width="37" height="33" src={{this.imgMongo}} />
                            </div>


                            </li>
                        </ul>
                    </div>
                    <!--FIN LIST GROUP ICONOS FRAMEWORKS-->

                </div>
            </div>
            <!--FIN FRONT FLIP CARD DATABASE STACK -->
            <!--BACK FLIP CARD DATABSE STACK -->
            <div class="flip-card-back">
                <div class="inner">

                    <!-- LIST GROUP ICONS-->
                    <div class="row">
                        <div class="col-12">
                            <div class="list-group" id="listaTecnologias" role="tablist">


                                <!--SPINNER TITTLE-->
                                <div>
                                    <h4 class="p-2 mt-1"><span class="spinner-border spinner-grow-sm" role="status" aria-hidden="true"></span> Tecnologías </h4>
                                </div>
                                <!--FIN SPINNER TITTLE-->
                                <!--LIST GROUP TABLE-->
                                <a class="list-group-item list-group-item-action active bg-dark text-white mt-3" id="list-home-list-db p-1" data-bs-toggle="list" href="#list-home-db" role="tab" aria-controls="list-home">LENGUAJES</a>
                                <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-settings-list-db" data-bs-toggle="list" href="#list-settings-db" role="tab" aria-controls="list-settings">HERRAMIENTAS</a>
                                <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-profile-list-db" data-bs-toggle="list" href="#list-profile-db" role="tab" aria-controls="list-profile">SGDB SQL</a>
                                <a class="list-group-item list-group-item-action bg-dark text-white p-1" id="list-messages-list-db" data-bs-toggle="list" href="#list-messages-db" role="tab" aria-controls="list-messages">SGDB NOSQL</a>

                                <!--FIN LIST GROUP TABLE-->
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="tab-content" id="nav-tabContent">

                                <!--LENGUAJES-->
                                <div class="tab-pane fade show active" id="list-home-db" role="tabpanel" aria-labelledby="list-home-list-db">
                                    <div id="listaTecnologias">
                                        <ul class="list-group justify-content-center">


                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="25" height="25" src={{this.imgSql}} loading="lazy" class="ms-1"/>
                                                SQL
                                                <span class="badge p-2">v 12.0</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="35" height="35" src={{this.imgPlpgsql}} loading="lazy" />
                                                PLpg/sql
                                                <span class="badge p-2">v 14.1</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="35" height="35" src={{this.imgPlsql}} loading="lazy"/>
                                                PL/SQL
                                                <span class="badge p-2">v 12.0</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--FIN LENGUAJES-->


                                <!--HERRAMIENTAS-->
                                <div class="tab-pane fade" id="list-settings-db" role="tabpanel" aria-labelledby="list-settings-list-db">
                                    <div id="listaTecnologias" class="">

                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="25" height="25" src={{this.imgXampp}} loading="lazy"/>
                                                XAMPP
                                                <span class="badge p-2">v 8.1</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="25" height="25" src={{this.imgSqlDev}} loading="lazy"/>
                                                SQL DEV.
                                                <span class="badge p-2">v 21.4</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="25" height="25" src={{this.imgDbeaver}} loading="lazy"/>
                                                DBEAVER
                                                <span class="badge p-2">v 21.3</span>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                                <!--FIN HERRAMIENTAS-->





                                <!--SGDB SQL-->
                                <div class="tab-pane fade" id="list-profile-db" role="tabpanel" aria-labelledby="list-profile-list-db">

                                    <div id="listaTecnologias" class="">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="25" height="25" src={{this.imgOracle}} loading="lazy"/>
                                                ORACLE
                                                <span class="badge p-2">v 12.0</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="25" height="25" src={{this.imgPostgres}} loading="lazy"/>
                                                POSTGRESQL
                                                <span class="badge p-2">v 14.1</span>
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="25" height="25" src={{this.imgMysql}} loading="lazy"/>
                                                MYSQL
                                                <span class="badge p-2">v 8.0</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <!--FIN SGDB SQL-->


                                <!--SGDB NO-SQL-->
                                <div class="tab-pane fade" id="list-messages-db" role="tabpanel" aria-labelledby="list-messages-list-db">

                                    <div id="listaTecnologias" class="">

                                        <ul class="list-group">
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="25" height="25" src={{this.imgFirebase}} loading="lazy"/>
                                                FIREBASE
                                                <span class="badge p-2">v 9.6</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center  bg-dark text-white p-1">
                                              <img width="25" height="25" src={{this.imgMongo}} loading="lazy"/>
                                                MONGODB
                                                <span class="badge p-2">v 5.0</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--SGDB NO-SQL-->

                            </div>
                        </div>
                    </div>
                    <!--FIN LIST GROUP ICONS-->

                </div>
            </div>
            <!--FIN BACK FLIP CARD DATABASE STACK -->
        </div>
        <!--FIN DATABASE STACK CARD-->
    </section>
    <!--FIN SECTION DATABASE STACK CARD-->


<!--CARDS MODALS-->
<app-cards-modals></app-cards-modals>
<!--FIN CARDS MODALS-->







</section>
<!--FIN PARALLAX 2DA  SECCION-->
