    @import url('https://fonts.googleapis.com/css?family=Roboto:300');





    //img
    $bgCards : "https://github.com/andresWeitzel/PortafolioGraphics/raw/master/cards/c7.jpg";




    //=========== TITULO CARDS ===========
    #tituloCards {
        top: 2%;
        left: 30%;
        position: absolute;
        display: flex;
    }

    h1 {
        cursor: pointer;
        letter-spacing: 7px;
        text-decoration: underline;
    }

    h1 span {
        transition: .5s linear;
    }

    h1:hover span:nth-child(1) {
        margin-right: 5px;
        text-decoration: underline rgb(46, 73, 122);
    }

    h1:hover span:nth-child(1):before {
        content: "{";
    }

    h1:hover span:nth-child(2) {
        margin-left: 10px;
        text-decoration: underline rgb(46, 73, 122);
    }

    h1:hover span:nth-child(3) {
        margin-left: 10px;
        text-decoration: underline rgb(46, 73, 122);
    }

    h1:hover span:nth-child(3):after {
        content: "}";
    }

    h1:hover span {
        color: rgb(148, 212, 250);
        text-shadow: 0 0 10px rgba(0, 54, 126, 0.938), 0 0 20px rgba(1, 51, 117, 0.945), 0 0 40px rgba(0, 52, 119, 0.911);
        text-decoration: none;
    }

    //=========== FIN TITULO CARDS ================
    /*---------------------------------------------------------------------------*/

    @keyframes revelar {
        0% {
            opacity: 0;
            width: 400 1em/1.5;
        }
        20% {
            opacity: 0;
            width: 400 1em/1.5;
        }
        30% {
            opacity: 0;
            width: 400 1em/1.5;
        }
        50% {
            opacity: 1;
            width: 400 1em/1.5;
        }
        80% {
            opacity: 1;
        }
        100% {
            opacity: 1;
            width: 400 1em/1.5;
        }
    }

    @keyframes ocultar {
        100% {
            opacity: 0;
            width: 400 1em/1.5;
        }
        80% {
            opacity: 0;
        }
        50% {
            opacity: 1;
            width: 400 1em/1.5;
        }
        30% {
            opacity: 1;
            width: 400 1em/1.5;
        }
        20% {
            opacity: 1;
            width: 400 1em/1.5;
        }
        0% {
            opacity: 1;
            width: 400 1em/1.5;
        }
    }
    /* Animate Background Image */

    @-webkit-keyframes aitf {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 100% 50%;
        }
    }

    //------------------------------------------------------------
    //=========== FLIP CARDS OVER ========
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .flip-card {
        margin: 20px;
        margin-top: 80px;
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px;
        animation: revelar 1s;
    }

    .flip-card-others-stack {
        margin: 20px;
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px;
        animation: revelar 1s;
    }

    .flip-card-front {
        width: 300px;
        min-height: 600px;
        height: auto;
        animation: revelar 1s;
    }

    .flip-card-back {
        width: 300px;
        min-height: 600px;
        height: auto;
        animation: revelar 1s;
    }

    .flip-card-others-stack:nth-of-type(1) .flip-card-front,
    .flip-card-others-stack:nth-of-type(1) .flip-card-back,
    .flip-card:nth-of-type(1) .flip-card-front,
    .flip-card:nth-of-type(1) .flip-card-back {
        background: url(#{$bgCards});
        background-size: cover;
        background-position: center;
        text-align: center;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    }

    .flip-card:nth-of-type(2) .flip-card-front,
    .flip-card:nth-of-type(2) .flip-card-back {
        background: url(#{$bgCards});
        background-size: cover;
        background-position: center;
        text-align: center;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    }

    .flip-card:nth-of-type(3) .flip-card-front,
    .flip-card:nth-of-type(3) .flip-card-back {
        background: url(#{$bgCards});
        background-size: cover;
        background-position: center;
        text-align: center;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

    .flip-card:nth-of-type(4) .flip-card-front,
    .flip-card:nth-of-type(4) .flip-card-back {
        background: url(#{$bgCards});
        background-size: cover;
        background-position: center;
        text-align: center;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: transform 0.7s cubic-bezier(0.5, 0.2, 0.2, 1);
    }

    .flip-card-front {
        transform: rotateY(0deg);
    }

    .flip-card-back {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(180deg);
    }

    .flip-card-front::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #0a0a0a;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
    }

    .flip-card-back::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #0a0a0a;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.4;
    }

    .flip-card-front .inner,
    .flip-card-back .inner {
        width: 100%;
        padding: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateZ(60px) scale(0.94);
        z-index: 2;
    }

    .inner .icon {
        width: 150px;
        margin-bottom: 20px;
        opacity: 0.9;
    }

    .inner h3 {
        margin-bottom: 8px;
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        text-transform: capitalize;
    }

    .inner p {
        color: #ffffff;
        font-size: 16px;
        line-height: 28px;
    }

    .flip-card-others-stack:hover .flip-card-front,
    .flip-card:hover .flip-card-front {
        transform: rotateY(-180deg);
    }

    .flip-card-others-stack:hover .flip-card-back,
    .flip-card:hover .flip-card-back {
        transform: rotateY(0deg);
    }

    #parallax-cards {
        font-family: Marske;
    }

    #frontendStackCard {
        animation: bounceInLeft 4s;
    }

    #backendStackCard {
        animation: bounceInLeft 3s;
    }

    #dataBaseStackCard {
        animation: bounceInRight 3s;
    }

    #otherStacksSection {
        animation: bounceInRight 4s;
    }

    #dataScienceStackCard {
        animation: bounceInRight 2s;
        margin-left: 80px;
    }

    #embeddedSystemsStackCard {
        animation: bounceInRight 2s;
        margin-left: 80px;
    }

    #listaIconos {
        opacity: 0.8;
        background-color: transparent;

        img{

        animation: pulse 3s ;
        animation-iteration-count: infinite;

        }
        li{
          background-color: #19221f71;
          color:white;
          display: flex;
          align-items: center;
          justify-content: center;
        }

    }

    #listaTecnologias {
        opacity: 0.8;
        li{
          margin-top: 0.3em;
          animation: pulse 1.5s;
        }
        li:hover{
          background-color: #344cbb;
        }



    }

    //=========== FIN FLIP CARDS OVER ========
//-------------------------------------------------------
    //=========== PARALLAX ===============
    .wrapper {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 2px;
    }

    .section {
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-shadow: 0 0 5px #000;
    }
    /*Efectos Parallax*/

    .parallax::after {
        content: " ";
        position: absolute;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateZ(-1px) scale(1.0);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -2;
        min-height: 500px;
    }

    .bg2::after {
        background-image: url(/assets/background/back32.jpg);
    }

    //=========== FIN PARALLAX ===============

