<!--PARALLAX 1RA SECCION-->

<section class="section parallax d-flex flex-column justify-content-center text-center " id="presentacion">



    <!--INFORMATION ALERT-->
     <!--
    <div class="container " #aviso>


        <div class="alert alert-dismissible fade show border-start border-5 fixed-top" role="alert" id="aviso">



            <div class=" d-flex flex-column justify-content-center">

                <p>La aplicación utiliza cookies analíticas para brindar la mejor experiencia. Puedes informarte más sobre qué cookies se está utilizando en <strong>página de Políticas de cookies</strong> o desactivarlas en <strong>AJUSTES</strong>.</p>

                <div class=" d-flex justify-content-end ">

                    <button type="button" class="btn btn-sm  border border-2 d-flex justify-content-end  p-2" data-bs-dismiss="alert" aria-label="Close"><strong>De Acuerdo</strong></button>

                    <button type="button" class="btn btn-sm  border border-2 d-flex justify-content-end  p-2 ms-1" data-bs-dismiss="alert" aria-label="Close"><strong>Aviso de Cookies</strong></button>
                </div>
            </div>




        </div>
    </div>
    -->
    <!--FIN INFORMATION ALERT-->




    <!--BANNER-->

    <div class="container" id="tittle" #titulo>

        <div class="d-flex justify-content-center text-center  ">
            <p> Portafolio Digital
                <span>
  Desarrollador Java Full Stack
  </span> &mdash; Andrés Weitzel &mdash;

            </p>

        </div>

    </div>
    <!--FIN BANNER-->




       <!--BLUE CUBE ANIMATION-->
       <div class="container" id="blueCubeAnim" #blueCubeAnim>
        <div class="">
            <img src={{this.imgCube}} loading="lazy" alt="">
        </div>


    </div>
    <!--FIN BLUE CUBE ANIMATION-->





    <!--CIRCULOS-->
    <div class="container" #circulos id="circulos">
        <div class="d-flex justify-content-center text-center p-2">
            <!--AREAS CIRCLE-->
            <div class="areas01">

                <img src={{this.gifInfoAreas}} loading="lazy" alt="" class="areas01-img" />
                <div class="areas01-hail"></div>
                <div class="areas01-hail2"></div>
                <div class="areas01-name ">
                    <ul>
                        <li>Programación</li>
                        <li>Telecomunic.</li>
                        <li>Informática</li>
                        <li>Electrónica</li>
                        <li>Otras Áreas</li>

                    </ul>
                </div>


            </div>

            <!--FIN AREAS CIRCLE-->

            <!--CUALIDADES CIRCLE-->
            <div class="cualid01">

                <img src={{this.gifProgramador}} loading="lazy" alt="" class="cualid01-img" />
                <div class="cualid01-hail"></div>
                <div class="cualid01-hail2"></div>
                <div class="cualid01-name">
                    <ul>
                        <li>Autodesarrollo</li>
                        <li>Autodidacta</li>
                        <li>Creatividad</li>
                        <li>Flexibilidad</li>
                    </ul>
                </div>


            </div>
            <!--FIN CUALIDADES CIRCLE-->


            <!--REDES SOCIALES CIRCLE-->
            <div class="socials01">

                <img src={{this.gifSocialMedia}} loading="lazy" alt="" class="socials01-img" />
                <div class="socials01-hail"></div>
                <div class="socials01-hail2"></div>
                <div class="socials01-name  d-flex d-row text-center">
                    <div class="">
                        <div>
                            <a href="https://github.com/andresWeitzel" target="_blank" class="text-white"><img src={{this.gifGithub}} loading="lazy" alt="" width="50" height="50" class="d-inline-block align-text-center p-1"></a>
                        </div>

                        <div>
                            <a href="https://gitlab.com/andres-weitzel" target="_blank" class="text-white"><img src={{this.gifGitlab}} loading="lazy" alt="" width="50" height="50" class="d-inline-block align-text-center p-1"></a>
                        </div>


                        <div>
                            <a href="https://www.youtube.com/channel/UCuSVXmBcMURyTvbmbcgZalQ" target="_blank" class="text-white"><img src={{this.gifYoutube}} loading="lazy" alt="" width="50" height="50" class="d-inline-block align-text-center p-1"></a>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/andres-weitzel/" target="_blank" class="text-white"><img src={{this.gifLinkedin}} loading="lazy" alt="" width="40" height="40" class="d-inline-block align-text-center p-1"></a>
                        </div>
                    </div>

                </div>






            </div>

            <!--FIN REDES SOCIALES CIRCLE-->
        </div>
    </div>
    <!--FIN CIRCULOS-->



    <!--ROCK LEFT ANIMATION-->
    <div class="container" id="rockLeftAnim" #rockLeftAnim>
        <div class="">
            <img src={{this.imgRockLeft}} loading="lazy" alt="">
        </div>
    </div>
    <!--FIN ROCK LEFT ANIMATION-->


    <!--ROCK RIGHT ANIMATION-->
    <div class="container" id="rockRightAnim" #rockRightAnim>
        <div class="">
            <img src={{this.imgRockRight}} loading="lazy" alt="">
        </div>
    </div>
    <!--FIN ROCK RIGHT ANIMATION-->





</section>







<div id="botonAbajo">
    <div class="">
        <img src={{this.imgFlechaDown}} loading="lazy" width="55" height="45" /></div>
</div>





<!--FIN PARALLAX 1RA SECCION-->
